<ng-container *transloco="let t; read: 'mnemo.ActiveShapePieChartOptionsComponent'" [formGroup]="optionsForm">
  <tlui-accordion [multiple]="true" class="accordion-container">
    <ng-template [tluiAccordionItemExpanded]="true" [tluiAccordionItem]="t('chart')">
      <div class="tab-content">
        <div class="tab-content__item">
          <tlui-checkbox class="tlui-pt--xs" formControlName="fitToWidget" size="md"
            >{{ t('fitToWidget') }}
          </tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <label>{{ t('outerRadius') }}</label>
          <tlui-slider
            [disabled]="optionsForm.value?.fitToWidget"
            [inputs]="true"
            [labels]="true"
            [max]="400"
            [min]="100"
            [step]="1"
            formControlName="outerRadius"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('innerRadius') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="200"
            [min]="0"
            [step]="1"
            formControlName="innerRadius"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('sectorsGap') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="0.1"
            [min]="0"
            [step]="0.01"
            formControlName="sectorsGap"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isLegendEnabled" size="md">{{ t('isLegendEnabled') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isDisplayValueEnabled" size="md"
            >{{ t('isDisplayValueEnabled') }}
          </tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <div>{{ t('containerPosition') }}</div>
          <tlui-form-field>
            <select formControlName="containerPosition" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['top', 'center', 'bottom']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('animation') }}</div>
          <tlui-form-field>
            <select formControlName="animation" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['radialExpansion', 'scale', 'none']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <label>{{ t('durationAnimationMs') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="5000"
            [min]="500"
            [step]="500"
            formControlName="durationAnimationMs"
          ></tlui-slider>
        </div>
      </div>
    </ng-template>
  </tlui-accordion>
</ng-container>
