<div *ngIf="isShadowLoading$ | async" class="loading-shade">
  <tlui-spinner></tlui-spinner>
</div>
<cdk-virtual-scroll-viewport
  *ngIf="!isLoading; else loader"
  appendOnly="true"
  class="scroll-port"
  id="scroll-port-objects-tree"
  itemSize="49"
  maxBufferPx="1000"
  minBufferPx="400"
>
  <div>
    <ng-container *ngIf="tree?.length">
      <ng-container *ngTemplateOutlet="menu; context: { level: 1, items: tree }"></ng-container>
    </ng-container>

    <ng-template #menu let-items="items" let-level="level">
      <ul
        (dirChange)="changeDir($event)"
        [class]="currentDirection === 'ltr' ? 'menu menu--level-' + level : 'menu menu--rtl-level-' + level"
        tluiDirDirective
      >
        <li
          *ngFor="let item of items; index as idx"
          [class.menu-item--disabled]="item.disabled"
          [id]="item.id"
          class="menu-item"
        >
          <div
            (dragstart)="dragItem($event, item)"
            [class.system]="item?.value?.system"
            [draggable]="dragAvailable"
            [style.margin-left.px]="currentDirection === 'ltr' ? tabMargin(level) : null"
            [style.margin-right.px]="currentDirection === 'rtl' ? tabMargin(level) : null"
            [shapeSrc]="dragShapesUrl"
            [shapeTitle]="item.label"
            class="menu-item__link"
            shapePreviewTooltip
          >
            <span *ngFor="let i of range(level)" [class]="currentDirection === 'ltr' ? 'line-' + i : 'rtl-line-' + i">
            </span>

            <svg-icon
              *ngIf="item.children?.length; else space"
              (click)="expand(item)"
              [src]="item.expanded ? 'tluiIconPlusMinusCircle' : 'tluiIconPlusAddCircle'"
              class="menu-item__icon"
            ></svg-icon>

            <ng-template #space>
              <span class="menu-item__space"></span>
            </ng-template>

            <svg-icon
              [src]="item.isFirstLevel ? 'tluiIconThreeCube' : 'tluiIcon3dCubeBoxVolume'"
              [style.margin-left.px]="currentDirection === 'rtl' ? 4 : null"
              [style.margin-right.px]="currentDirection === 'ltr' ? 4 : null"
              class="menu-item__cub icon-xs tlui-icon--md"
            ></svg-icon>
            <tlui-checkbox
              *ngIf="multipleSelectObject"
              (click)="clickCheckbox(item)"
              [value]="item.isCheckboxSelected"
              class="menu-item__checkbox"
            >
            </tlui-checkbox>
            <span
              (click)="onItemClick(item)"
              [class.menu-item__text--selected]="item?.isSelected"
              class="menu-item__text"
              tluiDirDirective
              >{{ item.label }}</span
            >
          </div>

          <div *ngIf="item.children?.length && item.expanded" @slideInOutTop>
            <ng-container *ngTemplateOutlet="menu; context: { level: level + 1, items: item.children }"></ng-container>
          </div>
        </li>
      </ul>
    </ng-template>
  </div>
</cdk-virtual-scroll-viewport>

<ng-template #loader>
  <div class="skeleton-loader" tluiDirDirective>
    <ngx-skeleton-loader
      [theme]="{ width: '150px', height: '15px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '200px', height: '15px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '100px', height: '15px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '200px', height: '15px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '100px', height: '15px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '200px', height: '15px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '220px', height: '15px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '220px', height: '15px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
  </div>
</ng-template>

@if (dragAvailable) {
  <svg-icon
    [src]="baseUrl + 'assets/shapes/basic/om-shape.svg'"
    #dragImage
    id="dragImage"
    class="drag-image"
  ></svg-icon>
}
