@import 'projects/shared/mnemo/mixins/shared-mixin';

.chart-container {
  position: relative;
  padding: 6px;
  min-width: 460px;
  min-height: 300px;
  border: 1px solid $border;
  border-radius: 12px;
  background: $body-background;
  cursor: move;

  tlui-line-chart {
    height: calc(100% - 32px);
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &-flex {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      padding-left: 24px;
      padding-right: 12px;

      span {
        color: $font-color;
      }
    }

    .close-icon {
      z-index: 11;
      cursor: pointer;
    }
  }

  .viewer-container {
    cursor: default;
  }

  @include no-data(300px);

  .loading-shade {
    @include loading-shade();
  }
}
