<div
  [style.height.px]="height"
  [style.width.px]="width"
  @popup
  cdkDrag
  cdkDragHandle
  cdkDragRootElement=".cdk-overlay-pane"
  class="chart-container"
>
  <div class="chart-container__header">
    <div class="chart-container__header-flex">
      <svg-icon class="tlui-icon tlui-icon--md" src="tluiIconTermometerTemperature"></svg-icon>
      <span *transloco="let t; read: 'mnemo.ViewerPopupChartComponent'">{{ t(chartNameForTitle) }}</span>
    </div>
    <div class="chart-container__header-flex">
      <button (click)="changeChartSize()" btnStyle="tertiary" class="header__resize" tluiButton>
        <svg-icon class="tlui-icon tlui-icon--xs" src="tluiIconComparisonCards"></svg-icon>
      </button>
      <svg-icon (click)="onClose()" class="close-icon" src="tluiIconClose"></svg-icon>
    </div>
  </div>

  <ng-container *ngIf="(isLoadingChart$ | async) === false; else loader">
    <ng-container *ngIf="selectedTagNames.length; else loader">
      <ng-container *ngIf="!!chartsData[0]?.data?.length; else loader">
        <tlui-line-chart>
          <tlui-lc-layer [zoomXEnable]="true" [zoomYEnable]="false">
            <tlui-lc-axis [primary]="true" [ticks]="10" name="x" position="bottom" type="time"></tlui-lc-axis>
            <tlui-lc-axis [ticks]="10" name="y" position="left" type="number"></tlui-lc-axis>

            <tlui-lc-grid-lines axis="x"></tlui-lc-grid-lines>
            <tlui-lc-grid-lines axis="y"></tlui-lc-grid-lines>

            <tlui-lc-data
              *ngFor="let chartData of chartsData; index as idx"
              [breakPoint]="true"
              [caption]="chartData.name"
              [data]="chartData.data"
              [interpolateEnable]="true"
              [lineDynamics]="chartData.lineType"
              axis="y"
              tluiLCLine
            >
            </tlui-lc-data>
          </tlui-lc-layer>
        </tlui-line-chart>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #loader>
    <div class="loading-shade">
      <tlui-spinner></tlui-spinner>
    </div>
  </ng-template>

  <ng-template #empty>
    <div class="no-data">
      <tlui-lottie-animation animationType="magnifier" width="100px"></tlui-lottie-animation>
      <span class="title">{{ 'mnemo.shared.noResultsFound' | transloco }}</span>
      <span class="message">{{ 'mnemo.shared.noResultsFoundText' | transloco }}</span>
    </div>
  </ng-template>
</div>
