* {
  box-sizing: border-box;
}

:host {
  width: 100%;
  height: 100%;

  ::ng-deep {
    .mat-mdc-cell,
    .mat-mdc-header-cell {
      padding: 16px 25px;
      text-align: left;
    }

    .header-start {
      .mat-sort-header-container {
        justify-content: flex-start;
      }
    }

    .header-center {
      .mat-sort-header-container {
        justify-content: center;
      }
    }

    .header-end {
      .mat-sort-header-container {
        justify-content: flex-end;
      }
    }

    .mat-mdc-header-row,
    .mat-mdc-footer-row {
      background-color: var(--color-special-color-background-for-button);
      font-weight: 600;

      .mat-mdc-header-cell {
        color: var(--color-text-main-and-axis-labels);
      }
    }

    tr.mat-mdc-row {
      box-sizing: border-box;
      height: 0;

      &:hover,
      &.selected {
        position: relative;

        &::after {
          content: '';
          top: 0;
          left: 0;
          width: calc(100% - 2px);
          height: 100%;
          position: absolute;
          border-radius: 3px;
          border: 1px solid var(--color-logo);
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.hidden-cell {
  display: none;
  position: absolute;
  visibility: hidden;
}
