<div class="container">
  @if (data?.tableData?.data?.length && data?.tableData?.displayedColumns?.length) {
    @if (viewOptions?.table?.isFilterEnable) {
      <tlui-form-field style="width: 100%">
        <svg-icon src="tluiIconSearch" tluiPrefix></svg-icon>
        <input (keyup)="filterTable($event)" [floatPlaceholder]="true" placeholder="Поиск" size="lg" tluiInput />
      </tlui-form-field>
    }

    <div class="container__table">
      <table
        (cdkDropListDropped)="drop($event)"
        (matSortChange)="sortData($event, dataSource)"
        [cdkDropListDisabled]="!viewOptions?.table?.isSortEnable"
        [matSortDisabled]="!viewOptions?.table?.isSortEnable"
        [dataSource]="dataSource"
        cdkDropList
        cdkDropListOrientation="horizontal"
        mat-table
        matSort
      >
        <ng-container *ngFor="let column of data.tableData?.displayedColumns">
          <ng-container [matColumnDef]="column">
            <th
              *matHeaderCellDef
              [class.hidden-cell]="column === 'color'"
              [ngClass]="'header-' + (viewOptions?.header?.textAlign ?? 'center')"
              [style.border-color]="
                viewOptions?.header?.isBorderColor ? 'inherit' : 'var(--color-borders-and-icons-stroke-shape)'
              "
              [style.text-align]="viewOptions?.header?.textAlign ?? 'center'"
              [style.border-bottom-style]="viewOptions?.header?.isBorderHorizontalEnabled ? 'solid' : 'unset'"
              [style.border-top-style]="viewOptions?.header?.isBorderHorizontalEnabled ? 'solid' : 'unset'"
              [style.border-right-style]="viewOptions?.header?.isBorderVerticalEnabled ? 'solid' : 'unset'"
              [style.border-left-style]="viewOptions?.header?.isBorderVerticalEnabled ? 'solid' : 'unset'"
              [style.border-right-width.px]="viewOptions?.header?.borderVerticalWidth ?? 'unset'"
              [style.border-left-width.px]="viewOptions?.header?.borderVerticalWidth ?? 'unset'"
              [style.padding-bottom.px]="viewOptions?.header?.paddingVertical ?? 'unset'"
              [style.padding-top.px]="viewOptions?.header?.paddingVertical ?? 'unset'"
              [style.padding-right.px]="viewOptions?.header?.paddingHorizontal ?? 'unset'"
              [style.padding-left.px]="viewOptions?.header?.paddingHorizontal ?? 'unset'"
              [style.border-width.px]="viewOptions?.header?.borderHorizontalWidth ?? 'unset'"
              cdkDrag
              mat-header-cell
              mat-sort-header
              tluiDirDirective
            >
              {{ getHeaderTitle(column) }}
            </th>
            <td
              *matCellDef="let element"
              [class.hidden-cell]="column === 'color' || element['lastRow'] === true"
              [style.color]="
                viewOptions?.body?.isColorRow ? element?.['color'] : 'var(--color-text-main-and-axis-labels)'
              "
              [style.border-color]="
                viewOptions?.body?.isBorderColor ? 'inherit' : 'var(--color-borders-and-icons-stroke-shape)'
              "
              [style.text-align]="viewOptions?.body?.textAlign ?? 'center'"
              [style.border-bottom-style]="viewOptions?.body?.isBorderHorizontalEnabled ? 'solid' : 'unset'"
              [style.border-top-style]="viewOptions?.body?.isBorderHorizontalEnabled ? 'solid' : 'unset'"
              [style.border-right-style]="viewOptions?.body?.isBorderVerticalEnabled ? 'solid' : 'unset'"
              [style.border-left-style]="viewOptions?.body?.isBorderVerticalEnabled ? 'solid' : 'unset'"
              [style.border-bottom-width.px]="viewOptions?.body?.borderHorizontalWidth ?? 'unset'"
              [style.border-top-width.px]="viewOptions?.body?.borderHorizontalWidth ?? 'unset'"
              [style.border-right-width.px]="viewOptions?.body?.borderVerticalWidth ?? 'unset'"
              [style.border-left-width.px]="viewOptions?.body?.borderVerticalWidth ?? 'unset'"
              [style.padding-bottom.px]="viewOptions?.body?.paddingVertical ?? 'unset'"
              [style.padding-top.px]="viewOptions?.body?.paddingVertical ?? 'unset'"
              [style.padding-right.px]="viewOptions?.body?.paddingHorizontal ?? 'unset'"
              [style.padding-left.px]="viewOptions?.body?.paddingHorizontal ?? 'unset'"
              mat-cell
              tluiDirDirective
            >
              {{ element[column] }}
            </td>
            @if (!!data.tableData?.footerEnable) {
              <td *matFooterCellDef [class.hidden-cell]="column === 'color'" mat-footer-cell tluiDirDirective>
                {{ getLastRow(dataSource)?.[column] }}
              </td>
            }
          </ng-container>
        </ng-container>
        <tr
          *matHeaderRowDef="data.tableData?.displayedColumns; sticky: true"
          [style.font-weight]="viewOptions?.header?.fontWeight ?? 'unset'"
          [style.font-size.px]="viewOptions?.header?.fontSize ?? 'unset'"
          mat-header-row
        ></tr>
        <tr
          *matRowDef="let row; index as idx; columns: data.tableData.displayedColumns"
          [style.font-weight]="viewOptions?.body?.fontWeight ?? 'unset'"
          [style.font-size.px]="viewOptions?.body?.fontSize ?? 'unset'"
          mat-row
        ></tr>
        @if (!!data.tableData?.footerEnable) {
          <tr *matFooterRowDef="data.tableData?.displayedColumns; sticky: true" mat-footer-row></tr>
        }
      </table>
    </div>

    @if (viewOptions?.table?.isPaginatorEnable) {
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
    }
  }
</div>
