.tab-container {
  box-sizing: border-box;

  .add-plus {
    cursor: pointer;

    &:hover {
      color: var(--color-logo);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
    padding: 2px 0;
    font-size: 14px;
  }
}
