<div *transloco="let t; read: 'mnemo.ChartPageComponent'" class="chart-container">
  <ng-container *ngIf="(mnemoChartWrapService.chartWrapLoading$ | async) === false; else loader">
    <ng-container *ngIf="mnemoChartWrapService.chartDrawData$ | async as chartOptions">
      <ng-container *ngIf="chartOptions?.data?.length; else empty">
        <ng-container *ngTemplateOutlet="chart; context: { chartOptions: chartOptions }"></ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #chart let-chartOptions="chartOptions">
  <tlui-chart
    [bgColor]="chartOptions.view?.wrapper?.bgColor"
    [borderColor]="chartOptions.view?.wrapper?.borderColor"
    [borderRadius]="chartOptions.view?.wrapper?.borderRadius"
    [chartOrientation]="chartOptions.view?.tooltip?.chartOrientation"
    [customResize]="mnemoChartWrapService.chartSizeChanged$ | async"
    [language]="language$ | async"
    [legendAxis]="chartOptions.view?.legend?.legendAxis"
    [legendLayer]="chartOptions.view?.legend?.legendLayer"
    [legendPosition]="chartOptions.view?.legend?.legendPosition"
    [legendTrend]="chartOptions.view?.legend?.legendTrend"
    [legendType]="chartOptions.view?.legend?.legendType"
    [legend]="chartOptions.view?.legend?.legend"
    [marginBottom]="chartOptions.view?.wrapper?.marginBottom"
    [marginLeft]="chartOptions.view?.wrapper?.marginLeft"
    [marginRight]="chartOptions.view?.wrapper?.marginRight"
    [marginTop]="chartOptions.view?.wrapper?.marginTop"
    [resizeObserveType]="chartOptions.view?.resizeObserveType"
    [setDefIfContainerSizeInvalid]="true"
    [smartScrollEnable]="chartOptions.view?.wrapper?.smartScrollEnable"
    [smartScrollHeight]="chartOptions.view?.wrapper?.smartScrollHeight"
    [toolbarJustifyContent]="chartOptions.view?.toolbar?.toolbarJustifyContent"
    [toolbarPosition]="chartOptions.view?.toolbar?.toolbarPosition"
    [toolbar]="chartOptions.view?.toolbar?.toolbar"
    [tooltipColor]="chartOptions.view?.tooltip?.tooltipColor"
    [tooltipMarkerCrossSize]="chartOptions.view?.tooltip?.tooltipMarkerCrossSize"
    [tooltipMarkerType]="chartOptions.view?.tooltip?.tooltipMarkerType"
    [tooltipShowMilliseconds]="chartOptions.view?.tooltip?.tooltipShowMilliseconds"
    [tooltipType]="chartOptions.view?.tooltip?.tooltipType"
    [tooltipWidth]="chartOptions.view?.tooltip?.tooltipWidth"
    [tooltip]="chartOptions.view?.tooltip?.tooltip"
    [zoomType]="chartOptions.view?.zoomType"
  >
    <tlui-chart-layer
      [layerTitle]="chartOptions.view?.layer?.layerTitle"
      [tooltipColor]="chartOptions.view?.layer?.tooltipColor"
      [tooltipEnable]="chartOptions.view?.layer?.tooltipEnable"
      [zoomPrimaryEnable]="chartOptions.view?.layer?.zoomPrimaryEnable"
      [zoomSecondaryEnable]="chartOptions.view?.layer?.zoomSecondaryEnable"
    >
      <tlui-chart-axis
        [color]="chartOptions.view?.axisX?.color"
        [drawAxisLabelLine]="chartOptions.view?.axisX?.drawAxisLabelLine"
        [drawAxisLabel]="chartOptions.view?.axisX?.drawAxisLabel"
        [fontColor]="chartOptions.view?.axisX?.fontColor"
        [position]="chartOptions.view?.axisX?.position"
        [primary]="chartOptions.view?.axisX?.primary"
        [ticks]="chartOptions.view?.axisX?.ticks"
        [type]="chartOptions.view?.axisX?.type"
        name="x"
      >
      </tlui-chart-axis>
      <tlui-chart-axis
        [color]="chartOptions.view?.axisY?.color"
        [drawAxisLabelLine]="chartOptions.view?.axisY?.drawAxisLabelLine"
        [drawAxisLabel]="chartOptions.view?.axisY?.drawAxisLabel"
        [fontColor]="chartOptions.view?.axisY?.fontColor"
        [position]="chartOptions.view?.axisY?.position"
        [primary]="chartOptions.view?.axisY?.primary"
        [ticks]="chartOptions.view?.axisY?.ticks"
        [type]="chartOptions.view?.axisY?.type"
        name="y"
      ></tlui-chart-axis>
      <tlui-chart-grid
        [color]="chartOptions.view?.gridX?.color"
        [drawGrid]="chartOptions.view?.gridX?.drawGrid"
        axis="x"
      ></tlui-chart-grid>
      <tlui-chart-grid
        [color]="chartOptions.view?.gridY?.color"
        [drawGrid]="chartOptions.view?.gridY?.drawGrid"
        axis="y"
      ></tlui-chart-grid>

      @for (data of chartOptions.data; track data) {
        @if (data?.customView) {
          <tlui-chart-data-layer
            [lineType]="data?.customView?.config?.lineType"
            [captions]="[data.name]"
            [color]="data.color"
            [colors]="[data.color]"
            [data]="data.dataUpdate$ | async"
            [lineOpacity]="data.opacity"
            [lineDynamics]="data?.customView?.config?.lineDynamics"
            [animation]="data?.customView?.common?.animation"
            [breakPointMarker]="data?.customView?.config?.breakPointMarker"
            [breakPointSize]="data?.customView?.config?.breakPointSize"
            [breakPoint]="data?.customView?.config?.breakPoint"
            [dataPointMarker]="data?.customView?.config?.dataPointMarker"
            [dataPointType]="data?.customView?.config?.dataPointType"
            [durationAnimation]="data?.customView?.common?.durationAnimation"
            [durationToggleAnimation]="data?.customView?.common?.durationToggleAnimation"
            [endPointSize]="data?.customView?.config?.endPointSize"
            [endPoint]="data?.customView?.config?.endPoint"
            [interpolateEnable]="data?.customView?.config?.interpolateEnable"
            [reRangeThenDataChange]="data?.customView?.common?.reRangeThenDataChange"
            [reRangeThenLegendClick]="data?.customView?.common?.reRangeThenLegendClick"
            [showValues]="data?.customView?.common?.showValues"
            [valuesFontSizePx]="data?.customView?.common?.valuesFontSizePx"
            [workgroundPadding]="data?.customView?.common?.workgroundPadding"
            tluiChartLine
          ></tlui-chart-data-layer>
        } @else {
          <tlui-chart-data-layer
            [lineType]="chartOptions.view?.lineLayer?.config?.lineType"
            [captions]="[data.name]"
            [color]="data.color"
            [colors]="[data.color]"
            [data]="data.dataUpdate$ | async"
            [lineOpacity]="data.opacity"
            [lineDynamics]="chartOptions.view?.lineLayer?.config?.lineDynamics"
            [animation]="chartOptions.view?.lineLayer?.common?.animation"
            [breakPointMarker]="chartOptions.view?.lineLayer?.config?.breakPointMarker"
            [breakPointSize]="chartOptions.view?.lineLayer?.config?.breakPointSize"
            [breakPoint]="chartOptions.view?.lineLayer?.config?.breakPoint"
            [dataPointMarker]="chartOptions.view?.lineLayer?.config?.dataPointMarker"
            [dataPointType]="chartOptions.view?.lineLayer?.config?.dataPointType"
            [durationAnimation]="chartOptions.view?.lineLayer?.common?.durationAnimation"
            [durationToggleAnimation]="chartOptions.view?.lineLayer?.common?.durationToggleAnimation"
            [endPointSize]="chartOptions.view?.lineLayer?.config?.endPointSize"
            [endPoint]="chartOptions.view?.lineLayer?.config?.endPoint"
            [interpolateEnable]="chartOptions.view?.lineLayer?.config?.interpolateEnable"
            [reRangeThenDataChange]="chartOptions.view?.lineLayer?.common?.reRangeThenDataChange"
            [reRangeThenLegendClick]="chartOptions.view?.lineLayer?.common?.reRangeThenLegendClick"
            [showValues]="chartOptions.view?.lineLayer?.common?.showValues"
            [valuesFontSizePx]="chartOptions.view?.lineLayer?.common?.valuesFontSizePx"
            [workgroundPadding]="chartOptions.view?.lineLayer?.common?.workgroundPadding"
            tluiChartLine
          ></tlui-chart-data-layer>
        }
      }
    </tlui-chart-layer>

    @for (layer of chartOptions?.additionalLayers; track layer; let idx = $index) {
      <tlui-chart-layer
        [layerTitle]="layer.view?.layer?.layerTitle"
        [tooltipColor]="layer.view?.layer?.tooltipColor"
        [tooltipEnable]="layer.view?.layer?.tooltipEnable"
        [zoomPrimaryEnable]="layer.view?.layer?.zoomPrimaryEnable"
        [zoomSecondaryEnable]="layer.view?.layer?.zoomSecondaryEnable"
      >
        <tlui-chart-axis
          [color]="layer.data[0]?.color ?? layer.view?.axisX?.color"
          [drawAxisLabelLine]="layer.view?.axisX?.drawAxisLabelLine"
          [drawAxisLabel]="layer.view?.axisX?.drawAxisLabel"
          [drawAxis]="layer.data[0]?.isAxisVisible"
          [fontColor]="layer.view?.axisX?.fontColor"
          [position]="layer.view?.axisX?.position"
          [primary]="layer.view?.axisX?.primary"
          [ticks]="layer.view?.axisX?.ticks"
          [type]="layer.view?.axisX?.type"
          name="x"
        >
        </tlui-chart-axis>
        <tlui-chart-axis
          [color]="layer.data[0]?.color ?? layer.view?.axisY?.color"
          [drawAxisLabelLine]="layer.view?.axisY?.drawAxisLabelLine"
          [drawAxisLabel]="layer.view?.axisY?.drawAxisLabel"
          [drawAxis]="layer.data[0]?.isAxisVisible"
          [fontColor]="layer.view?.axisY?.fontColor"
          [position]="layer.view?.axisY?.position"
          [primary]="layer.view?.axisY?.primary"
          [ticks]="layer.view?.axisY?.ticks"
          [type]="layer.view?.axisY?.type"
          name="y"
        ></tlui-chart-axis>
        <tlui-chart-grid
          [color]="layer.view?.gridX?.color"
          [drawGrid]="layer.data[0]?.isAxisVisible"
          axis="x"
        ></tlui-chart-grid>
        <tlui-chart-grid
          [color]="layer.view?.gridY?.color"
          [drawGrid]="layer.data[0]?.isAxisVisible"
          axis="y"
        ></tlui-chart-grid>

        @for (data of layer.data; track data) {
          @if (data?.customView) {
            <tlui-chart-data-layer
              [lineType]="data?.customView?.config?.lineType"
              [captions]="[data.name]"
              [color]="data.color"
              [colors]="[data.color]"
              [data]="data.dataUpdate$ | async"
              [lineOpacity]="data.opacity"
              [lineDynamics]="data?.customView?.config?.lineDynamics"
              [animation]="data?.customView?.common?.animation"
              [breakPointMarker]="data?.customView?.config?.breakPointMarker"
              [breakPointSize]="data?.customView?.config?.breakPointSize"
              [breakPoint]="data?.customView?.config?.breakPoint"
              [dataPointMarker]="data?.customView?.config?.dataPointMarker"
              [dataPointType]="data?.customView?.config?.dataPointType"
              [durationAnimation]="data?.customView?.common?.durationAnimation"
              [durationToggleAnimation]="data?.customView?.common?.durationToggleAnimation"
              [endPointSize]="data?.customView?.config?.endPointSize"
              [endPoint]="data?.customView?.config?.endPoint"
              [interpolateEnable]="data?.customView?.config?.interpolateEnable"
              [reRangeThenDataChange]="data?.customView?.common?.reRangeThenDataChange"
              [reRangeThenLegendClick]="data?.customView?.common?.reRangeThenLegendClick"
              [showValues]="data?.customView?.common?.showValues"
              [valuesFontSizePx]="data?.customView?.common?.valuesFontSizePx"
              [workgroundPadding]="data?.customView?.common?.workgroundPadding"
              tluiChartLine
            ></tlui-chart-data-layer>
          } @else {
            <tlui-chart-data-layer
              [lineType]="chartOptions.view?.lineLayer?.config?.lineType"
              [captions]="[data.name]"
              [color]="data.color"
              [colors]="[data.color]"
              [data]="data.dataUpdate$ | async"
              [lineOpacity]="data.opacity"
              [lineDynamics]="chartOptions.view?.lineLayer?.config?.lineDynamics"
              [animation]="chartOptions.view?.lineLayer?.common?.animation"
              [breakPointMarker]="chartOptions.view?.lineLayer?.config?.breakPointMarker"
              [breakPointSize]="chartOptions.view?.lineLayer?.config?.breakPointSize"
              [breakPoint]="chartOptions.view?.lineLayer?.config?.breakPoint"
              [dataPointMarker]="chartOptions.view?.lineLayer?.config?.dataPointMarker"
              [dataPointType]="chartOptions.view?.lineLayer?.config?.dataPointType"
              [durationAnimation]="chartOptions.view?.lineLayer?.common?.durationAnimation"
              [durationToggleAnimation]="chartOptions.view?.lineLayer?.common?.durationToggleAnimation"
              [endPointSize]="chartOptions.view?.lineLayer?.config?.endPointSize"
              [endPoint]="chartOptions.view?.lineLayer?.config?.endPoint"
              [interpolateEnable]="chartOptions.view?.lineLayer?.config?.interpolateEnable"
              [reRangeThenDataChange]="chartOptions.view?.lineLayer?.common?.reRangeThenDataChange"
              [reRangeThenLegendClick]="chartOptions.view?.lineLayer?.common?.reRangeThenLegendClick"
              [showValues]="chartOptions.view?.lineLayer?.common?.showValues"
              [valuesFontSizePx]="chartOptions.view?.lineLayer?.common?.valuesFontSizePx"
              [workgroundPadding]="chartOptions.view?.lineLayer?.common?.workgroundPadding"
              tluiChartLine
            ></tlui-chart-data-layer>
          }
        }
      </tlui-chart-layer>
    }
  </tlui-chart>
</ng-template>

<ng-template #loader>
  <div class="loading-shade">
    <tlui-spinner></tlui-spinner>
  </div>
</ng-template>

<ng-template #empty>
  <div class="no-data">
    <svg-icon [src]="viewerService.baseUrl + 'assets/not-selected-2.svg'" class="img"></svg-icon>
    <span class="title">{{ 'mnemo.shared.youDidntChooseAnything' | transloco }}</span>
    <span class="message">{{ 'mnemo.shared.youDidntChooseAnythingText' | transloco }}</span>
  </div>
</ng-template>

<ng-template #emptyRes>
  <div class="no-data">
    <tlui-lottie-animation animationType="magnifier" width="100px"></tlui-lottie-animation>
    <span class="title">{{ 'mnemo.shared.noResultsFound' | transloco }}</span>
    <span class="message">{{ 'mnemo.shared.noResultsFoundText' | transloco }}</span>
  </div>
</ng-template>
