<div *transloco="let t; read: 'mnemo.ViewerPopupChartComponent'" #chartContainer @popup class="container">
  <div cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" class="header">
    <div class="header-flex">
      <svg-icon class="tlui-icon--md" src="tluiIconTermometerTemperature"></svg-icon>
      <span>{{ t('chart') }} {{ data?.idx + 1 }}</span>
    </div>
    <div class="header-flex">
      <svg-icon (click)="onClickPrint()" class="close" src="tluiIconPrint"></svg-icon>
      <svg-icon (click)="onClose()" class="close" src="tluiIconClose"></svg-icon>
    </div>
  </div>

  <tl-mnemo-chart
    [isUpdateEnable]="isUpdateEnable"
    [style.height.px]="(chartWrapService.chartSizeChanged$ | async)?.height"
    [style.width.px]="(chartWrapService.chartSizeChanged$ | async)?.width"
  >
  </tl-mnemo-chart>
</div>
