<ng-container *ngIf="chartOptions$ | async as chartOptions">
  <div class="container">
    <div
      *ngIf="chartOptions?.data?.chartData?.length"
      [style.justify-content]="getPosition(chartOptions.view?.containerPosition ?? 'center')"
      class="container__item"
    >
      <span>{{ chartOptions.data?.name }}</span>
      <tlui-pie-chart
        [animation]="chartOptions.view?.animation ?? 'radialExpansion'"
        [data]="chartOptions.data?.chartData"
        [durationAnimationMs]="chartOptions.view?.durationAnimationMs ?? 1000"
        [height]="
          (chartOptions.view?.fitToWidget ?? true)
            ? null
            : (chartOptions.view?.outerRadius?.toString() ?? size?.height?.toString())
        "
        [innerRadius]="chartOptions.view?.innerRadius ?? 0"
        [outerRadius]="chartOptions.view?.outerRadius ?? size?.height / 2"
        [padAngle]="chartOptions.view?.sectorsGap ?? 0"
        [showLegend]="chartOptions.view?.isLegendEnabled ?? true"
        [style.height]="chartOptions.view?.fitToWidget ? '100%' : 'unset'"
        [valueVisible]="chartOptions.view?.isDisplayValueEnabled ?? true"
      >
      </tlui-pie-chart>
    </div>
  </div>
</ng-container>
