<div
  *transloco="let t; read: 'mnemo.ViewerPopupChartComponent'"
  [class.chart-toolbar_disabled]="
    (viewerService.isViewerInit$ | async) === false && (viewerService.isViewerInitActiveShapes$ | async) === false
  "
  [formGroup]="form"
  class="chart-toolbar"
>
  <ng-container *ngFor="let group of dataSources?.controls; let idx = index" formArrayName="dataSources">
    <div [formGroupName]="idx" class="chart-toolbar__chart">
      <span>{{ t('chart') }} {{ idx + 1 }}</span>
      <div class="space"></div>
      <ng-container formGroupName="sourceForm">
        <tlui-form-field class="form-field" tluiDirDirective>
          <tlui-select
            [clearTag]="false"
            [language]="language$ | async"
            [multiple]="true"
            [placeholder]="t('tags')"
            [searchEnabled]="true"
            [togglerEnabled]="true"
            formControlName="tagNamesString"
          >
            <tlui-option *ngFor="let tag of viewerTagService.tagsNamesOnlyAll$ | async" [value]="tag">
              {{ tag }}
            </tlui-option>
          </tlui-select>
        </tlui-form-field>
        <tlui-form-field class="form-field" tluiDirDirective>
          <tlui-select
            [clearTag]="false"
            [language]="language$ | async"
            [multiple]="true"
            [placeholder]="t('omAttrs')"
            [searchEnabled]="true"
            [togglerEnabled]="true"
            formControlName="omAttrs"
          >
            <tlui-option *ngFor="let omAttr of viewerOMService.omObjectMap$ | async | keyvalue" [value]="omAttr.value">
              {{ omAttr.value.attrName }}
            </tlui-option>
          </tlui-select>
        </tlui-form-field>
        <tlui-form-field class="form-field" tluiDirDirective>
          <tlui-select
            [clearTag]="false"
            [language]="language$ | async"
            [multiple]="true"
            [placeholder]="t('formulas')"
            [searchEnabled]="false"
            [togglerEnabled]="false"
            formControlName="formulas"
          >
            <tlui-option
              *ngFor="let formula of viewerFormulaService.formulaObjectMap$ | async | keyvalue"
              [value]="formula.value"
              class="disabled"
            >
              {{ formula.value.formula }}
            </tlui-option>
          </tlui-select>
        </tlui-form-field>
      </ng-container>
      <svg-icon (click)="openSettingPopup(idx)" [matTooltip]="t('settings')" class="tlui-icon--sm" src="tluiIconSets">
      </svg-icon>
      <svg-icon (click)="resetStyle(idx)" [matTooltip]="t('clear')" class="tlui-icon--sm" src="tluiIconDeleteTrash">
      </svg-icon>
      <div class="space"></div>
      @if (idx !== 0) {
        <svg-icon
          (click)="deleteDataSource(idx)"
          [matTooltip]="t('deleteChart')"
          class="icon"
          src="tluiIconPlusMinusCircle"
        >
        </svg-icon>
      } @else {
        <div class="space"></div>
      }

      @if (idx === dataSources?.controls?.length - 1 && idx < 9) {
        <svg-icon (click)="addDataSource()" [matTooltip]="t('addChart')" class="icon" src="tluiIconPlusAddCircle">
        </svg-icon>
      } @else {
        <div class="space"></div>
      }
    </div>
  </ng-container>
</div>
