@mixin theme-dark-table() {
  --grey-50: 24 27 37;
  --grey-100: 33 38 49;
  --grey-200: 37 43 55;
  --grey-300: 45 52 67;
  --grey-400: 61 71 92;
  --grey-500: 69 81 104;
  --grey-600: 102 119 153;
  --grey-700: 151 163 186;
  --grey-800: 175 184 202;
  --grey-900: 212 217 226;

  // Background
  --bg-color: 33 38 49; //--color-background-popup-widgets
  --bg-color-hover: 24 29 37; //--color-background-dashboards-forms
  --bg-color-secondary: 53 62 80; //--color-color-6

  // Text Color
  --text-color: 255 255 255; //--color-text-contrast
  --text-color-secondary: 224 228 235; //--color-text-main-and-axis-labels
  --text-color-secondary-darker: 151 163 186; //--color-text-signatures-and-future
  --text-color-tertiary: 114 118 137; //--color-text-optional-color

  // Border Color
  --border-color: 45 52 67; //--color-borders-and-icons-stroke-shape

  // Scrollbar Color
  --scrollbar-color: 42 47 56; //--color-background-widget-headers
  --scrollbar-color-hover: 53 62 80; //--color-color-6
  --scrollbar-color-active: 45 52 67; //--color-borders-and-icons-stroke-shape

  --primary-color: 240 100 62;
  --primary-color-hover: 240 52 62;

  --color-white: 151 163 186;
  --color-black: 16 17 35;
}

@mixin theme-light-table() {
  --grey-50: 249 250 251;
  --grey-100: 243 244 247;
  --grey-200: 234 236 241;
  --grey-300: 212 217 226;
  --grey-400: 175 184 202;
  --grey-500: 151 163 186;
  --grey-600: 102 119 153;
  --grey-700: 69 81 104;
  --grey-800: 61 71 92;
  --grey-900: 45 52 67;

  --bg-color: 255 255 255; //--color-background-popup-widgets
  --bg-color-hover: 249 250 251; //--color-background-dashboards-forms
  --bg-color-secondary: 255 255 255; //--color-background-popup-widgets

  --text-color: 33 38 49; //--color-text-contrast
  --text-color-secondary: 69 81 104; //--color-text-main-and-axis-labels
  --text-color-secondary-darker: 102 119 153; //--color-text-signatures-and-future
  --text-color-tertiary: 151 163 186; //--color-text-optional-color

  --border-color: 234 236 241; //--color-borders-and-icons-stroke-shape

  --scrollbar-color: 255 255 255; //--color-background-widget-headers
  --scrollbar-color-hover: 200 206 218; //--color-color-6
  --scrollbar-color-active: 234 236 241; //--color-borders-and-icons-stroke-shape

  --primary-color: 240 100 62;
  --primary-color-hover: 240 52 62;

  --color-white: 224 228 235;
  --color-black: 69 81 104;
}
