<form
  *transloco="let t; read: 'mnemo.ChartSettingComponent'"
  (ngSubmit)="onSave()"
  [formGroup]="form"
  @popup
  class="container"
>
  <div class="header">
    <div class="title">{{ t('chooseParams') }}</div>
    <svg-icon (click)="onClose()" class="tlui-icon--sm close" src="tluiIconClose"></svg-icon>
  </div>
  <div class="content">
    <tlui-form-field class="date-picker">
      <tlui-date-range-picker
        (keyup)="onKeyboardClick($event)"
        (onClosed)="onCalendarClose()"
        [closeOnSelect]="true"
        [date]="true"
        [disableSelectPrevDay]="false"
        [formControlName]="'date'"
        [iconPosition]="'right'"
        [language]="language$ | async"
        [placeholder]="t('selectPeriod')"
        [time]="true"
        size="lg"
      ></tlui-date-range-picker>
    </tlui-form-field>
  </div>
  <div class="footer">
    <button btnStyle="primary" size="md" tluiButton type="submit">{{ 'mnemo.shared.save' | transloco }}</button>
    <button (click)="onClose()" btnStyle="secondary" size="md" tluiButton type="reset">
      {{ 'mnemo.shared.close' | transloco }}
    </button>
  </div>
</form>
