<div
  *transloco="let t; read: 'mnemo.ViewerPopupChartToolbarComponent'"
  [class.chart-toolbar_disabled]="(viewerService.isViewerInit$ | async) === false"
  [formGroup]="form"
  class="chart-toolbar"
>
  <div class="chart-toolbar__control">
    <tlui-form-field
      [class.disabled]="!!(playerModeService.isPlayerMode$ | async)"
      [class.inactive]="(popupChartService.pointsCount$ | async) === 0"
      class="form-field__points"
      tluiDirDirective
    >
      <tlui-number-input
        [floatPlaceholder]="true"
        [formControlName]="'pointsCount'"
        [placeholder]="t('pointsCount')"
        size="lg"
      >
      </tlui-number-input>
    </tlui-form-field>
    <button
      (click)="onClickClearPoints()"
      [class.disabled]="(popupChartService.pointsCount$ | async) === 0"
      btnStyle="secondary"
      matTooltip="{{ t('clear') }}"
      size="sm"
      tluiButton
    >
      <svg-icon class="tlui-icon--sm" src="tluiIconDeleteTrash"></svg-icon>
    </button>
  </div>
  <div *ngFor="let chart of chartNames; index as idx" class="chart-toolbar__control">
    <span>{{ t('chart') }} {{ idx + 1 }}</span>
    <tlui-form-field class="form-field" tluiDirDirective>
      <tlui-select
        [clearTag]="false"
        [formControlName]="chart"
        [language]="language$ | async"
        [multiple]="true"
        [placeholder]="t('selectedTags')"
        [searchEnabled]="true"
        [togglerEnabled]="true"
      >
        <tlui-option *ngFor="let tag of tagNames$ | async" [value]="tag">{{ tag }} </tlui-option>
      </tlui-select>
    </tlui-form-field>
    <button
      [class.disabled]="!(popupChartService[chart] | async)?.length"
      [tluiMenuTriggerFor]="menu"
      btnStyle="secondary"
      matTooltip="{{ t('settings') }}"
      size="sm"
      tluiButton
    >
      <svg-icon class="tlui-icon--sm" src="tluiIconSets"></svg-icon>
    </button>
    <button
      (click)="onClickClear(chart)"
      [class.disabled]="!(popupChartService[chart] | async)?.length"
      btnStyle="secondary"
      matTooltip="{{ t('clear') }}"
      size="sm"
      tluiButton
    >
      <svg-icon class="tlui-icon--sm" src="tluiIconDeleteTrash"></svg-icon>
    </button>

    <tlui-menu #menu="tluiMenu">
      <tlui-menu-item *ngFor="let type of lineType" (click)="changeType(idx, type)" tluiDirDirective>
        {{ type }}
      </tlui-menu-item>
    </tlui-menu>
  </div>
</div>
