@if (isLoading) {
  <ng-container *ngTemplateOutlet="loader"></ng-container>
} @else {
  @if (tags?.length) {
    <cdk-virtual-scroll-viewport
      *transloco="let t; read: 'mnemo.OmTagModalComponent'"
      (scroll)="scrollHandler($event)"
      [maxBufferPx]="tags?.length * 36 ?? 800"
      [minBufferPx]="tags?.length * 36 ?? 800"
      [appendOnly]="true"
      class="scroll-port"
      itemSize="36"
    >
      <table class="search-table">
        <thead class="sticky">
          <tr>
            <td tluiDirDirective>{{ t('name') }}</td>
            <td tluiDirDirective>{{ t('id') }}</td>
          </tr>
        </thead>
        <tbody>
          @for (tag of tags; track tag.guid) {
            <tr (click)="selectTag(tag)" [class.selected]="tag?.isSelected">
              <td tluiDirDirective>{{ tag?.name }}</td>
              <td tluiDirDirective>{{ tag?.guid }}</td>
            </tr>
          }
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
    @if (isLoadingRow) {
      <div class="row-loader">
        <ngx-skeleton-loader
          [theme]="{ width: '360px', height: '30px', backgroundColor: 'var(--color-color-6)' }"
          appearance="line"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          [theme]="{ width: '360px', height: '30px', backgroundColor: 'var(--color-color-6)' }"
          appearance="line"
        ></ngx-skeleton-loader>
      </div>
    }
  } @else {
    <ng-container *ngTemplateOutlet="empty"></ng-container>
  }
}

<ng-template #loader>
  <div class="skeleton-loader" tluiDirDirective>
    <ngx-skeleton-loader
      [theme]="{ width: '150px', height: '30px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '200px', height: '30px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '100px', height: '30px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '200px', height: '30px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
  </div>
</ng-template>

<ng-template #empty>
  <div class="no-data" tluiDirDirective>
    <tlui-lottie-animation animationType="magnifier" width="100px"></tlui-lottie-animation>
    <span class="title">{{ 'mnemo.shared.noResultsFound' | transloco }}</span>
    <span class="message">{{ 'mnemo.shared.noResultsFoundText' | transloco }}</span>
  </div>
</ng-template>
