@import '../../../../mixins/shared-mixin';
@import '../../../../mixins/scroll-mixin';
@import '../../../../mixins/table-mixin';

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
}

@include table(36, 8, 8, 12, 12);

.search-table {
  td,
  th {
    width: 50%;
  }
}

.scroll-port {
  position: relative;
  width: 100%;
  height: 100%;

  @include vertical-scroll($hover: false);
}

.selected-tags {
  width: 100%;
  font-size: 11px;
  line-height: 12px;
  color: var(--color-text-signatures-and-future);
  word-break: break-all;
}

.row-loader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 12px;
}

@include no-data($height: 200px);
@include skeleton-loader();
