<div *transloco="let t; read: 'mnemo.ViewerPopupChartComponent'" #chartContainer @popup class="container">
  <div cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" class="header">
    <div class="header-flex">
      <svg-icon class="tlui-icon--md" src="tluiIconTermometerTemperature"></svg-icon>
      <span>{{ t('chart') }} {{ data?.index + 1 }}</span>
    </div>
    <div class="header-flex">
      @if (mnemoChartWrapService.chartWrapData$ | async; as item) {
        <div class="indicator-container">
          @if (item?.realtimeRefresh === false) {
            <svg-icon
              class="indicator"
              matTooltip="{{ 'mnemo.ViewerDashboardComponent.realtimeRefreshDisabled' | transloco }}"
              src="tluiIconWindowCloseSquare"
            ></svg-icon>
          } @else {
            <svg-icon
              class="indicator"
              matTooltip="{{ 'mnemo.ViewerDashboardComponent.realtimeRefresh' | transloco }}"
              src="tluiIconApproveOkReturn"
            ></svg-icon>
          }
          @if (checkDateEqual(item?.date)) {
            <svg-icon
              class="indicator"
              matTooltip="{{ 'mnemo.ViewerDashboardComponent.dateChanged' | transloco }}"
              src="tluiIconCalendarAttention"
            ></svg-icon>
          }
          @if (item?.hoursPeriod !== 8) {
            <svg-icon
              class="indicator"
              matTooltip="{{ 'mnemo.ViewerDashboardComponent.hoursPeriodChanged' | transloco }}"
              src="tluiIconTimerAlarm"
            ></svg-icon>
          }
          @if (item?.points > 0) {
            <svg-icon
              class="indicator"
              matTooltip="{{ 'mnemo.ViewerDashboardComponent.pointsChanged' | transloco }}"
              src="tluiIconCircleRandomX3Group"
            ></svg-icon>
          }
          @if (item?.fixedPoints) {
            <svg-icon
              class="indicator"
              matTooltip="{{ 'mnemo.ViewerDashboardComponent.fixedPoints' | transloco }}"
              src="tluiIconWidth"
            ></svg-icon>
          }
        </div>
      }
      <svg-icon (click)="onClickPrint()" class="close" src="tluiIconPrint"></svg-icon>
      <svg-icon (click)="onClose()" class="close" src="tluiIconClose"></svg-icon>
    </div>
  </div>

  <tl-mnemo-chart-2
    [style.height.px]="(mnemoChartWrapService.chartSizeChanged$ | async)?.height"
    [style.width.px]="(mnemoChartWrapService.chartSizeChanged$ | async)?.width"
  >
  </tl-mnemo-chart-2>
</div>
