<ng-container *ngIf="!!data">
  <as-split [direction]="'vertical'" [disabled]="disableEvents">
    <as-split-area [size]="100 - sizeEvents" class="table-container">
      <table class="main-table">
        <ng-container *ngFor="let row of data?.rows.len | fill; let ri = index">
          <tr [style.height.px]="getHeight(ri)">
            <ng-container *ngFor="let cell of data?.cols.len | fill; let ci = index">
              <td
                [id]="tableService.xy2expr(ci, ri)"
                [isContextMenu]="true"
                [ngStyle]="getBorderStyle(ri, ci)"
                [style.width.px]="getWidth(ci)"
                [tluiMenuTriggerFor]="menu"
                tluiDirDirective
              >
                <ng-container *ngIf="getCellType(ri, ci) as cellType">
                  <ng-container *ngIf="cellType === 'DEFAULT'">
                    <div [ngStyle]="getStyle(ri, ci)" class="cell-content">
                      {{ getValue(ri, ci) }}
                    </div>
                  </ng-container>

                  <ng-container *ngIf="cellType === 'TLTAG' || cellType === 'TLMANUALTAG'">
                    <div
                      *ngIf="cellType === 'TLTAG'; else manualTag"
                      (mouseenter)="setHoveredCell(ri, ci)"
                      [ngClass]="getClass(ri, ci)"
                      [ngStyle]="getStyle(ri, ci)"
                      [templateRef]="tooltip"
                      class="cell-content"
                      position="bottom"
                      tluiTemplateTooltip
                    >
                      {{ getValue(ri, ci) }}
                    </div>

                    <ng-template #manualTag>
                      <div
                        (click)="openManualTag($event, ri, ci)"
                        (mouseenter)="setHoveredCell(ri, ci)"
                        [ngClass]="getClass(ri, ci)"
                        [ngStyle]="getStyle(ri, ci)"
                        [templateRef]="tooltip"
                        class="cell-content tlui-cursor--pointer"
                        matTooltip="{{ 'mnemo.ViewerTableComponent.enterValue' | transloco }}"
                        matTooltipPosition="after"
                        position="bottom"
                        tluiTemplateTooltip
                      >
                        {{ getValue(ri, ci) }}
                      </div>
                    </ng-template>

                    <svg-icon
                      *ngIf="getErrorIcon(ri, ci)"
                      [matTooltip]="'mnemo.ViewerHelperService.incorrectTimeStamp' | transloco"
                      class="error-icon"
                      src="tluiIconAlertAlarm"
                    >
                    </svg-icon>
                    <ng-template #tooltip>
                      <div class="mxTooltip" id="mxTooltip">
                        {{ getTooltip(ri, ci) }}
                      </div>
                    </ng-template>
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </table>
    </as-split-area>
    <as-split-area [maxSize]="50" [minSize]="2" [size]="sizeEvents">
      <tl-mnemo-event-legend *ngIf="!disableEvents" class="footer toolbar"></tl-mnemo-event-legend>
    </as-split-area>
  </as-split>
</ng-container>

<tlui-menu #menu="tluiMenu">
  <tlui-menu-item (click)="showChart(tagNameForChartContext?.tagName)" class="tlui-menu-item_bordered" tluiDirDirective>
    {{ 'mnemo.ViewerHelperService.showChart' | transloco }}: {{ tagNameForChartContext?.tagName }}
  </tlui-menu-item>
  <tlui-menu-item
    [iconPath]="'tluiIconArrowRightSimple'"
    [position]="'right'"
    [tluiMenuTriggerFor]="menuNested"
    tluiDirDirective
    >{{ 'mnemo.ViewerHelperService.addToChart' | transloco }}...
  </tlui-menu-item>
</tlui-menu>

<tlui-menu #menuNested="tluiMenu">
  <tlui-menu-item *ngFor="let tag of viewerTagService.tagsNamesOnly$ | async" (click)="showChart(tag)" tluiDirDirective
    >{{ tag }}
  </tlui-menu-item>
</tlui-menu>
