<ng-container *transloco="let t; read: 'mnemo.ChartSettingComponent'" [formGroup]="optionsForm">
  <tlui-accordion [multiple]="true" class="accordion-container">
    <ng-template [tluiAccordionItem]="t('chart')">
      <div class="tab-content" formGroupName="wrapper">
        <div class="tab-content__item">
          <div>{{ t('Chart.bgColor') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              formControlName="bgColor"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Chart.borderColor') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              formControlName="borderColor"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
        <hr class="tab-delimeter" />
        <div class="tab-content__item tlui-disabled">
          <tlui-checkbox formControlName="smartScrollEnable" size="md">{{ t('Chart.smartScroll') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Chart.smartScrollColor') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              class="tlui-disabled"
              formControlName="smartScrollColor"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template [tluiAccordionItem]="t('tooltip')">
      <div class="tab-content" formGroupName="tooltip">
        <div class="tab-content__item">
          <tlui-checkbox formControlName="tooltip" size="md">{{ t('tooltip') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="tooltipShowMilliseconds" size="md"
            >{{ t('Tooltip.tooltipShowMilliseconds') }}
          </tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Tooltip.tooltipType') }}</div>
          <tlui-form-field>
            <select formControlName="tooltipType" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['fullLine', 'dataPoint']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Tooltip.tooltipMarkerType') }}</div>
          <tlui-form-field>
            <select formControlName="tooltipMarkerType" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['line', 'horizontal-line', 'smallCross', 'fullscreenCross', 'none']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Tooltip.tooltipColor') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              formControlName="tooltipColor"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
        <div
          [class.tlui-disabled]="optionsForm.controls.tooltip.controls.tooltipMarkerType.value !== 'smallCross'"
          class="tab-content__item"
        >
          <label>{{ t('Tooltip.tooltipMarkerCrossSize') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="20"
            [min]="1"
            [step]="1"
            formControlName="tooltipMarkerCrossSize"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('Tooltip.tooltipWidth') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="20"
            [min]="1"
            [step]="1"
            formControlName="tooltipWidth"
          ></tlui-slider>
        </div>
      </div>
    </ng-template>
    <ng-template [tluiAccordionItem]="t('toolbar')">
      <div class="tab-content" formGroupName="toolbar">
        <div class="tab-content__item">
          <tlui-checkbox formControlName="toolbar" size="md">{{ t('toolbar') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Toolbar.toolbarPosition') }}</div>
          <tlui-form-field>
            <select formControlName="toolbarPosition" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['top', 'bottom']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Toolbar.toolbarJustifyContent') }}</div>
          <tlui-form-field>
            <select formControlName="toolbarJustifyContent" size="sm" tluiInput>
              <ng-container
                *ngFor="
                  let option of ['center', 'flex-start', 'flex-end', 'space-between', 'space-around', 'space-evenly']
                "
              >
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template [tluiAccordionItem]="t('legend')">
      <div class="tab-content" formGroupName="legend">
        <div class="tab-content__item">
          <tlui-checkbox formControlName="legend" size="md">{{ t('legend') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox
            [disabled]="optionsForm.controls.legend.controls.legendType.value === 'simple-style'"
            formControlName="legendLayer"
            size="md"
          >
            {{ t('Legend.legendLayer') }}
          </tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox
            [disabled]="optionsForm.controls.legend.controls.legendType.value === 'simple-style'"
            formControlName="legendAxis"
            size="md"
            >{{ t('Legend.legendAxis') }}
          </tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox class="tlui-disabled" formControlName="legendTrend" size="md"
            >{{ t('Legend.legendTrend') }}
          </tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Legend.legendType') }}</div>
          <tlui-form-field>
            <select formControlName="legendType" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['default', 'simple-style']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Legend.legendPosition') }}</div>
          <tlui-form-field>
            <select formControlName="legendPosition" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['top', 'bottom']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template [tluiAccordionItem]="t('zoom')">
      <div class="tab-content" formGroupName="layer">
        <div class="tab-content__item">
          <tlui-checkbox formControlName="zoomPrimaryEnable" size="md">{{ t('Zoom.zoomPrimaryEnable') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="zoomSecondaryEnable" size="md"
            >{{ t('Zoom.zoomSecondaryEnable') }}
          </tlui-checkbox>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-content__item">
          <div>{{ t('Zoom.zoomType') }}</div>
          <tlui-form-field>
            <select formControlName="zoomType" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['none', 'brush', 'scroll']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template [tluiAccordionItem]="t('axisX')">
      <div class="tab-content" formGroupName="axisX">
        <div class="tab-content__item">
          <div>{{ t('Axis.type') }}</div>
          <tlui-form-field>
            <select formControlName="type" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['time', 'number', 'enum']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Axis.position') }}</div>
          <tlui-form-field>
            <select formControlName="position" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['top', 'bottom']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox class="tlui-disabled" formControlName="primary" size="md"
            >{{ t('Axis.primary') }}
          </tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="drawAxisLabel" size="md">{{ t('Axis.drawAxisLabel') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="drawAxisLabelLine" size="md">{{ t('Axis.drawAxisLabelLine') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Axis.color') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              formControlName="color"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Axis.fontColor') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              formControlName="fontColor"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <label>{{ t('Axis.ticks') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="10"
            [min]="2"
            [step]="1"
            formControlName="ticks"
          ></tlui-slider>
        </div>
      </div>
      <hr class="tab-delimeter" />
      <div class="tab-content" formGroupName="gridX">
        <div class="tab-content__item">
          <tlui-checkbox formControlName="drawGrid" size="md">{{ t('Grid.drawGrid') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Grid.color') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              formControlName="color"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template [tluiAccordionItem]="t('axisY')">
      <div class="tab-content" formGroupName="axisY">
        <div class="tab-content__item">
          <div>{{ t('Axis.type') }}</div>
          <tlui-form-field>
            <select formControlName="type" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['time', 'number', 'enum']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Axis.position') }}</div>
          <tlui-form-field>
            <select formControlName="position" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['left', 'right']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox class="tlui-disabled" formControlName="primary" size="md"
            >{{ t('Axis.primary') }}
          </tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="drawAxisLabel" size="md">{{ t('Axis.drawAxisLabel') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="drawAxisLabelLine" size="md">{{ t('Axis.drawAxisLabelLine') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Axis.color') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              formControlName="color"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Axis.fontColor') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              formControlName="fontColor"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <label>{{ t('Axis.ticks') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="10"
            [min]="2"
            [step]="1"
            formControlName="ticks"
          ></tlui-slider>
        </div>
      </div>
      <hr class="tab-delimeter" />
      <div class="tab-content" formGroupName="gridY">
        <div class="tab-content__item">
          <tlui-checkbox formControlName="drawGrid" size="md">{{ t('Grid.drawGrid') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <div>{{ t('Grid.color') }}</div>
          <tlui-form-field class="color-select">
            <input
              [isDarkTheme]="isDarkTheme"
              formControlName="color"
              size="sm"
              tluiChartInputColorWrapper
              tluiInput
              type="color"
            />
          </tlui-form-field>
        </div>
      </div>
    </ng-template>
    @if (showBarSettings) {
      <ng-template [tluiAccordionItem]="t('barLayer')" formGroupName="barLayer">
        <div class="tab-content" formGroupName="config">
          <div class="tab-content__item">
            <div>{{ t('BarLayer.animationType') }}</div>
            <tlui-form-field>
              <select formControlName="animationType" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['growth', 'none']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.barType') }}</div>
            <tlui-form-field>
              <select formControlName="barType" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['gradient', 'solidColor']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <label>{{ t('BarLayer.barWidthPercent') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="100"
              [min]="0"
              [step]="1"
              formControlName="barWidthPercent"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <label>{{ t('BarLayer.barRadius') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="20"
              [min]="0"
              [step]="1"
              formControlName="barRadius"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="barBorder" size="md">{{ t('BarLayer.barBorder') }}</tlui-checkbox>
          </div>
          <hr class="tab-delimeter" />
          <div class="tab-content__item">
            <tlui-checkbox formControlName="tooltipHoverEffect" size="md"
              >{{ t('BarLayer.tooltipHoverEffect') }}
            </tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.tooltipHoverColor') }}</div>
            <tlui-form-field class="color-select">
              <input
                [isDarkTheme]="isDarkTheme"
                formControlName="tooltipHoverColor"
                size="sm"
                tluiChartInputColorWrapper
                tluiInput
                type="color"
              />
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.valuePosition') }}</div>
            <tlui-form-field>
              <select formControlName="valuePosition" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['top', 'center', 'bottom']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="showEnumValues" size="md">{{ t('BarLayer.showEnumValues') }}</tlui-checkbox>
          </div>
        </div>
        <hr class="tab-delimeter" />
        <div class="tab-content" formGroupName="common">
          <div class="tab-content__item">
            <tlui-checkbox formControlName="showValues" size="md">{{ t('CommonLayer.showValues') }}</tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <label>{{ t('CommonLayer.valuesFontSizePx') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="18"
              [min]="1"
              [step]="1"
              formControlName="valuesFontSizePx"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="animation" size="md">{{ t('CommonLayer.animation') }}</tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <label>{{ t('CommonLayer.durationAnimation') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="5000"
              [min]="100"
              [step]="100"
              formControlName="durationAnimation"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <label>{{ t('CommonLayer.durationToggleAnimation') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="5000"
              [min]="100"
              [step]="100"
              formControlName="durationToggleAnimation"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="reRangeThenDataChange" size="md"
              >{{ t('CommonLayer.reRangeThenDataChange') }}
            </tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="reRangeThenLegendClick" size="md"
              >{{ t('CommonLayer.reRangeThenLegendClick') }}
            </tlui-checkbox>
          </div>
        </div>
      </ng-template>
      <ng-template [tluiAccordionItem]="t('comboLayer')" formGroupName="comboBarLayer">
        <div class="tab-content" formGroupName="config">
          <div class="tab-content__item">
            <div>{{ t('BarLayer.animationType') }}</div>
            <tlui-form-field>
              <select formControlName="animationType" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['growth', 'none']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.barType') }}</div>
            <tlui-form-field>
              <select formControlName="barType" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['gradient', 'solidColor']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <label>{{ t('BarLayer.barWidthPercent') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="100"
              [min]="0"
              [step]="1"
              formControlName="barWidthPercent"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <label>{{ t('BarLayer.stackWidthPercent') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="100"
              [min]="0"
              [step]="1"
              formControlName="stackWidthPercent"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <label>{{ t('BarLayer.barRadius') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="20"
              [min]="0"
              [step]="1"
              formControlName="barRadius"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="barBorder" size="md">{{ t('BarLayer.barBorder') }}</tlui-checkbox>
          </div>
          <hr class="tab-delimeter" />
          <div class="tab-content__item">
            <tlui-checkbox formControlName="tooltipHoverEffect" size="md"
              >{{ t('BarLayer.tooltipHoverEffect') }}
            </tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.tooltipHoverColor') }}</div>
            <tlui-form-field class="color-select">
              <input
                [isDarkTheme]="isDarkTheme"
                formControlName="tooltipHoverColor"
                size="sm"
                tluiChartInputColorWrapper
                tluiInput
                type="color"
              />
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.valuePosition') }}</div>
            <tlui-form-field>
              <select formControlName="valuePosition" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['top', 'center', 'bottom']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="showEnumValues" size="md">{{ t('BarLayer.showEnumValues') }}</tlui-checkbox>
          </div>
        </div>
        <hr class="tab-delimeter" />
        <div class="tab-content" formGroupName="common">
          <div class="tab-content__item">
            <tlui-checkbox formControlName="showValues" size="md">{{ t('CommonLayer.showValues') }}</tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <label>{{ t('CommonLayer.valuesFontSizePx') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="18"
              [min]="1"
              [step]="1"
              formControlName="valuesFontSizePx"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="animation" size="md">{{ t('CommonLayer.animation') }}</tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <label>{{ t('CommonLayer.durationAnimation') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="5000"
              [min]="100"
              [step]="100"
              formControlName="durationAnimation"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <label>{{ t('CommonLayer.durationToggleAnimation') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="5000"
              [min]="100"
              [step]="100"
              formControlName="durationToggleAnimation"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="reRangeThenDataChange" size="md"
              >{{ t('CommonLayer.reRangeThenDataChange') }}
            </tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="reRangeThenLegendClick" size="md"
              >{{ t('CommonLayer.reRangeThenLegendClick') }}
            </tlui-checkbox>
          </div>
        </div>
      </ng-template>
      <ng-template [tluiAccordionItem]="t('stackLayer')" formGroupName="stackBarLayer">
        <div class="tab-content" formGroupName="config">
          <div class="tab-content__item">
            <div>{{ t('BarLayer.valuePosition') }}</div>
            <tlui-form-field>
              <select formControlName="animationType" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['growth', 'none']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.stackType') }}</div>
            <tlui-form-field>
              <select formControlName="stackType" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['stackBar', 'fullStackBar']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.barType') }}</div>
            <tlui-form-field>
              <select formControlName="barType" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['gradient', 'solidColor']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <label>{{ t('BarLayer.barWidthPercent') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="100"
              [min]="0"
              [step]="1"
              formControlName="barWidthPercent"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <label>{{ t('BarLayer.barRadius') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="20"
              [min]="0"
              [step]="1"
              formControlName="barRadius"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="barBorder" size="md">{{ t('BarLayer.barBorder') }}</tlui-checkbox>
          </div>
          <hr class="tab-delimeter" />
          <div class="tab-content__item">
            <tlui-checkbox formControlName="tooltipHoverEffect" size="md"
              >{{ t('BarLayer.tooltipHoverEffect') }}
            </tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.tooltipHoverColor') }}</div>
            <tlui-form-field class="color-select">
              <input
                [isDarkTheme]="isDarkTheme"
                formControlName="tooltipHoverColor"
                size="sm"
                tluiChartInputColorWrapper
                tluiInput
                type="color"
              />
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <div>{{ t('BarLayer.valuePosition') }}</div>
            <tlui-form-field>
              <select formControlName="valuePosition" size="sm" tluiInput>
                <ng-container *ngFor="let option of ['top', 'center', 'bottom']">
                  <option [value]="option">{{ t(option) }}</option>
                </ng-container>
              </select>
            </tlui-form-field>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="showEnumValues" size="md">{{ t('BarLayer.showEnumValues') }}</tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="showStackValues" size="md">{{
              t('BarLayer.showStackValues')
            }}</tlui-checkbox>
          </div>
        </div>
        <hr class="tab-delimeter" />
        <div class="tab-content" formGroupName="common">
          <div class="tab-content__item">
            <tlui-checkbox formControlName="showValues" size="md">{{ t('CommonLayer.showValues') }}</tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <label>{{ t('CommonLayer.valuesFontSizePx') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="18"
              [min]="1"
              [step]="1"
              formControlName="valuesFontSizePx"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="animation" size="md">{{ t('CommonLayer.animation') }}</tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <label>{{ t('CommonLayer.durationAnimation') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="5000"
              [min]="100"
              [step]="100"
              formControlName="durationAnimation"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <label>{{ t('CommonLayer.durationToggleAnimation') }}</label>
            <tlui-slider
              [inputs]="true"
              [labels]="true"
              [max]="5000"
              [min]="100"
              [step]="100"
              formControlName="durationToggleAnimation"
            ></tlui-slider>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="reRangeThenDataChange" size="md"
              >{{ t('CommonLayer.reRangeThenDataChange') }}
            </tlui-checkbox>
          </div>
          <div class="tab-content__item">
            <tlui-checkbox formControlName="reRangeThenLegendClick" size="md"
              >{{ t('CommonLayer.reRangeThenLegendClick') }}
            </tlui-checkbox>
          </div>
        </div>
      </ng-template>
    }
  </tlui-accordion>
  @if (showLineSettings) {
    <tl-mnemo-trend-setting-form formGroupName="lineLayer"></tl-mnemo-trend-setting-form>
  }
</ng-container>
