@mixin popup($width: 600px, $height: 600px, $resizeable: false) {
  .container {
    display: flex;
    flex-direction: column;
    height: $height;
    width: $width;
    background-color: var(--color-background-popup-widgets);
    border-radius: 10px;
    border: 1px solid var(--color-borders-and-icons-stroke-shape);

    @if ($resizeable) {
      resize: both;
      overflow: auto;

      .header {
        cursor: move;
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 28px;
      box-sizing: border-box;
      border-bottom: 1px solid var(--color-borders-and-icons-stroke-shape);
      color: var(--color-text-contrast);
      font-weight: 500;
      font-size: 16px;
      line-height: 17px;

      .close {
        margin-left: auto;
        cursor: pointer;
      }
    }

    .content {
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      padding: 20px;
      width: 100%;
      height: calc(100% - 160px);
      gap: 8px;
      overflow: hidden scroll;

      @if ($resizeable) {
        overflow-x: auto;
      }
    }

    .footer {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      margin-top: auto;
      padding: 20px;
      border-top: 1px solid var(--color-borders-and-icons-stroke-shape);

      .footer__info-container {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: help;
        color: var(--color-index-critical);
        font-size: 14px;
      }
    }
  }
}
