@mixin setting-accordion {
  .accordion-container {
    width: 100%;

    .tab-content {
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 5px;

      &_row {
        flex-direction: row;
        justify-content: space-around;
      }

      &__item {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-between;

        &_wrap {
          flex-wrap: wrap;
        }

        .color-select {
          width: 100px;
        }
      }

      &__label {
        display: flex;
        align-items: center;
        gap: 4px;

        .info {
          cursor: help;

          svg {
            color: var(--color-text-signatures-and-future);
          }
        }
      }
    }

    hr.tab-delimeter {
      border: 1px solid var(--color-borders-and-icons-stroke-shape);
      width: 96%;
    }
  }

  .width-270 {
    width: 270px;
  }

  .error-color {
    color: var(--color-index-critical);
  }
}
