@mixin table(
  $table-row-height: 48,
  $table-padding-vert: 16,
  $table-padding-hor: 25,
  $table-header-font-size: 16,
  $table-body-font-size: 16
) {
  table {
    width: 100%;
    color: var(--color-text-main-and-axis-labels);
    border-collapse: collapse;
  }

  thead {
    &.sticky {
      position: sticky;
      top: -1px;
      z-index: 2;
    }

    tr {
      height: $table-row-height + px;
      background: var(--color-special-color-background-for-button);
      border-radius: 0;
      font-size: $table-header-font-size + px;
      line-height: calc($table-header-font-size + 2) + px;
    }
  }

  tbody {
    tr {
      height: $table-row-height + px;
      background: var(--color-background-popup-widgets);
      border-radius: 0;
      border-left: 2px solid var(--color-borders-and-icons-stroke-shape);
      cursor: pointer;
      font-size: $table-body-font-size + px;
      line-height: calc($table-body-font-size + 2) + px;

      &:hover,
      &.selected {
        position: relative;
        background: var(--color-color-1);

        &::after {
          content: '';
          top: 0;
          left: 0;
          width: calc(100% - 2px);
          height: 100%;
          position: absolute;
          border-radius: 3px;
          border-left: 2px solid var(--color-logo);
        }
      }
    }
  }

  th,
  td {
    padding: $table-padding-vert + px $table-padding-hor + px;
    border: 1px solid var(--color-borders-and-icons-stroke-shape);
    text-align: initial;

    span {
      color: var(--color-text-signatures-and-future);
    }
  }
}

@mixin level-table($table-row-height: 48px) {
  $child-level: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

  width: 100%;
  height: 0;
  border-collapse: collapse;
  position: relative;
  color: $font-color;
  transition:
    color 180ms,
    background-color 180ms,
    border-color 180ms;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  thead {
    tr {
      height: $table-row-height;
      background: var(--color-special-color-background-for-button);
      border-radius: 0;
      border-left: 2px solid transparent;
    }
  }

  tbody {
    tr {
      height: $table-row-height;
      background: $body-background;
      border-radius: 0;
      border-left: 2px solid transparent;
      cursor: pointer;

      &.active,
      &:hover {
        border-left: 2px solid $color-logo;
        background: var(--color-color-1);
      }

      @each $variant in $child-level {
        &.child-#{$variant} {
          background: var(--color-color-#{$variant});

          &.active,
          &:hover {
            border-left: 2px solid $color-logo;
            background: var(--color-color-1);
          }
        }
      }
    }
  }

  th,
  td {
    padding: 16px 25px;
    border: 1px solid $border;
    text-align: initial;
    font-weight: 400;
  }
}
