@mixin tree-line0 {
  &::after {
    position: absolute;
    content: '';
    left: -14.5px;
    height: 39px;
    top: -19px;
    width: 17px;
    border-left: 1px dashed var(--color-borders-and-icons-icons);
    border-bottom: 1px dashed var(--color-borders-and-icons-icons);
  }
}

@mixin tree-line($style: 0) {
  $level: calc(-#{$style} * 30px - 14.5px);

  &::after {
    position: absolute;
    content: '';
    top: -16px;
    left: $level;
    height: 39px;
    width: 0;
    border-left: 1px dashed var(--color-borders-and-icons-icons);
  }
}

@mixin tree-rtl-line0 {
  &::after {
    position: absolute;
    content: '';
    right: -19px;
    height: 39px;
    top: -19px;
    width: 9px;
    border-right: 1px dashed var(--color-borders-and-icons-icons);
    border-bottom: 1px dashed var(--color-borders-and-icons-icons);
  }
}

@mixin tree-rtl-line($style: 0) {
  $level: calc(-#{$style} * 30px - 19px);

  &::after {
    position: absolute;
    content: '';
    top: -19px;
    right: $level;
    height: 39px;
    width: 0;
    border-right: 1px dashed var(--color-borders-and-icons-icons);
  }
}
