<ng-container *ngIf="chartOptions$ | async as chartOptions">
  <div [style.height.px]="size?.height ?? 'unset'" [style.width.px]="size?.width ?? 'unset'" class="container">
    @if (chartOptions.data?.tableData?.data?.length || chartOptions?.rawData?.length) {
      @if (chartOptions.data?.tableData?.data?.length && chartOptions.data?.tableData?.displayedColumns?.length) {
        <tl-mnemo-active-shape-table-item
          [viewOptions]="chartOptions.view"
          [data]="chartOptions.data"
        ></tl-mnemo-active-shape-table-item>
      }

      @for (rawChartData of chartOptions?.rawData; track rawChartData.parentChartId + rawChartData.name) {
        <tl-mnemo-active-shape-table-item
          [viewOptions]="chartOptions.view"
          [data]="rawChartData"
        ></tl-mnemo-active-shape-table-item>
      }
    } @else {
      <ng-container *ngTemplateOutlet="empty"></ng-container>
    }
  </div>
</ng-container>
<ng-template #empty>
  <div class="no-data">
    <tlui-lottie-animation animationType="magnifier" width="100px"></tlui-lottie-animation>
    <span class="title">{{ 'mnemo.shared.noResultsFound' | transloco }}</span>
    <span class="message">{{ 'mnemo.shared.emptyObjectText' | transloco }}</span>
  </div>
</ng-template>
