<div *transloco="let t; read: 'mnemo.OmTagModalComponent'" @popup class="container">
  <div class="header">
    <div class="title">{{ t('options') }}</div>
    <svg-icon (click)="onClose()" class="tlui-icon--sm close" src="tluiIconClose"></svg-icon>
  </div>
  <div class="content">
    <tl-om-tag-form
      (attributeSelectedEmitter)="selectAttributes($event)"
      [baseUrl]="baseUrl"
      [clear]="clear$ | async"
      [currentMethod]="currentMethod"
      [enablePropTable]="enablePropTable"
      [filterAttributeType]="filterAttributeType"
      [methods]="allowMethods"
      [multipleSelectObject]="multipleSelectObject"
      [multipleSelect]="multipleSelect"
      [selectedPathArray]="selectedPathArray"
      [cacheAttributes]="cacheAttributes"
      [cacheTree]="cacheTree"
    >
    </tl-om-tag-form>
  </div>
  <div class="footer">
    <button
      (click)="onApply()"
      [disabled]="!selectedAttributes && !selectedPathArray.length"
      btnStyle="primary"
      size="md"
      tluiButton
      type="submit"
    >
      {{ 'mnemo.shared.apply' | transloco }}
    </button>
    <button (click)="onClose()" btnStyle="secondary" size="md" tluiButton type="reset">
      {{ 'mnemo.shared.close' | transloco }}
    </button>
    <button (click)="onClear()" btnStyle="secondary" size="md" tluiButton type="reset">
      {{ 'mnemo.shared.clear' | transloco }}
    </button>
  </div>
</div>
