<tlui-accordion
  *transloco="let t; read: 'mnemo.MnemoViewSettingFormComponent'"
  [formGroup]="viewForm"
  [multiple]="true"
  class="accordion-container"
>
  <ng-template [tluiAccordionItemExpanded]="isExpanded" [tluiAccordionItem]="t('viewSettings')">
    <div class="tab-content">
      @if (isShowMaxSelectedTrend) {
        <div class="tab-content__item">
          <div>{{ t('maxSelectedTrend') }}</div>
          <tlui-form-field class="width-270" tluiDirDirective>
            <tlui-number-input [max]="100" [min]="1" formControlName="maxSelectedTrend"></tlui-number-input>
          </tlui-form-field>
        </div>
      }
      @if (isShowAutoZoom) {
        <div class="tab-content__item">
          <tlui-checkbox formControlName="autoZoom" size="md">{{ t('autoZoom') }}</tlui-checkbox>
        </div>
        @if (viewForm.controls.autoZoom.value) {
          <div class="tab-content__item">
            {{ t('autoZoomAxis') }}:
            <div>
              <button (click)="setAutoZoomAxisActiveStateAll(true)" [size]="'sm'" [btnStyle]="'ghost'" tluiButton>
                {{ t('selectAll') }}
              </button>
              <button (click)="setAutoZoomAxisActiveStateAll(false)" [size]="'sm'" [btnStyle]="'ghost'" tluiButton>
                {{ t('clearAll') }}
              </button>
            </div>
          </div>
          <div class="axis-container">
            @for (item of viewForm?.getRawValue()?.maxSelectedTrend | fill; track item; let idx = $index) {
              <div class="axis-item">{{ idx + 1 }}</div>
              <div
                (click)="setAutoZoomAxisActiveState(idx)"
                [class.axis-item_active]="getAutoZoomAxisActiveState(idx)"
                class="axis-item"
              >
                <span class="axis-label">x</span>
                <span class="axis-label">y</span>
              </div>
            }
          </div>
        }
      }
      @if (isShowExponent) {
        <div class="tab-content__item">
          <div>{{ t('exponent') }}</div>
          <tlui-form-field class="width-270 tlui-disabled" tluiDirDirective>
            <tlui-number-input [step]="0.1" [max]="100" [min]="0.1" formControlName="exponent"></tlui-number-input>
          </tlui-form-field>
        </div>
      }
    </div>
  </ng-template>
</tlui-accordion>
