@import 'projects/shared/mnemo/mixins/shared-mixin';
@import 'projects/shared/mnemo/mixins/scroll-mixin';
@import 'projects/shared/mnemo/mixins/table-mixin';
@import 'projects/shared/mnemo/mixins/split-mixin';

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;

  ::ng-deep {
    @include split();
  }
}

@include table(36, 8, 8, 12, 12);

.content {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 400ms;
}

.object-list {
  border: 1px dashed $border;
}

.search-table {
  td,
  th {
    width: 33.33%;
  }
}

.scroll-port {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 1px solid $border;

  @include vertical-scroll();
}

.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

@include no-data($height: unset);
@include skeleton-loader();
