<div *transloco="let t; read: 'mnemo.ViewerEventLegendComponent'" class="container">
  @if (dataSource$ | async; as dataSource) {
    <tlui-table [data]="dataSource" [withFilter]="false">
      <ng-template tluiTableHeaderTemplate>
        <tlui-header-row (sort)="sort($event)" [sticky]="true">
          <ng-container *ngFor="let item of displayedColumns">
            <tlui-header-cell [textAlign]="'center'" [resizeColumn]="true" [sortingColumn]="item">
              {{ t(item) }}</tlui-header-cell
            >
          </ng-container>
        </tlui-header-row>
      </ng-template>
      <ng-template tluiTableRowTemplate let-item let-odd="odd">
        <tlui-row [dark]="odd">
          <tlui-cell [textAlign]="'center'">
            {{ item.timestamp | date: 'dd.MM.yyyy' }} |&nbsp;
            <span> {{ item.timestamp | date: 'HH:mm:ss:SSS' }}</span>
          </tlui-cell>
          <tlui-cell [textAlign]="'center'">{{ item.name }}</tlui-cell>
          <tlui-cell [textAlign]="'center'" [ngClass]="'status-' + item.status">{{
            item.status !== 'Bad' ? item.value : 'Bad'
          }}</tlui-cell>
          <tlui-cell [textAlign]="'center'" [ngClass]="'status-' + item.status">{{ item.status }}</tlui-cell>
          <tlui-cell [textAlign]="'center'">{{ t(item.sourceType) }}</tlui-cell>
        </tlui-row>
      </ng-template>
    </tlui-table>
  }
</div>
