<div *transloco="let t; read: 'mnemo.ChartPageSelectorComponent'" [formGroup]="form" class="chart-selector-container">
  <div class="chart-selector-container__title">{{ t('maxCount', { count: cPDataService.maxSelectedCount }) }}</div>

  <div class="chart-selector-container__body">
    <tlui-accordion [multiple]="true">
      <ng-template
        [tluiAccordionItemExpanded]="!!cPDataService.activeTagMap?.size"
        [tluiAccordionItem]="t('tags')"
        [tluiAccordionTemplateRef]="addTag"
      >
        <tl-mnemo-chart-tag-list></tl-mnemo-chart-tag-list>
      </ng-template>
      <ng-template
        [tluiAccordionItemExpanded]="!!cPDataService.activeOmAttrMap?.size"
        [tluiAccordionItem]="t('omAttrs')"
        [tluiAccordionTemplateRef]="addOm"
      >
        <tl-mnemo-chart-om-list></tl-mnemo-chart-om-list>
      </ng-template>
      <ng-template
        [tluiAccordionItemExpanded]="!!cPDataService.activeFormulaAttrMap?.size"
        [tluiAccordionItem]="t('formulas')"
        [tluiAccordionTemplateRef]="addFormula"
      >
        <tl-mnemo-chart-formula-list></tl-mnemo-chart-formula-list>
      </ng-template>
      <ng-template [tluiAccordionItem]="t('user')" [tluiAccordionTemplateRef]="addUser">
        <span>В разработке</span>
      </ng-template>
    </tlui-accordion>
  </div>

  <div class="chart-selector-container__footer">
    <tlui-form-field class="date-picker" tluiDirDirective>
      <tlui-date-range-picker
        (keyup)="onKeyboardClick($event)"
        (onClosed)="onCalendarClose()"
        [class.disabled]="chartWrapService.chartWrapLoading$ | async"
        [closeOnSelect]="true"
        [date]="true"
        [disableSelectPrevDay]="false"
        [formControlName]="'date'"
        [iconPosition]="'right'"
        [language]="language$ | async"
        [placeholder]="t('selectPeriod')"
        [time]="true"
        size="lg"
      ></tlui-date-range-picker>
    </tlui-form-field>
    <div class="settings">
      <tlui-form-field (dirChange)="changeDir($event)" tluiDirDirective>
        <tlui-number-input
          [class.disabled]="chartWrapService.chartWrapLoading$ | async"
          [floatPlaceholder]="true"
          [formControlName]="'pointsCount'"
          [placeholder]="t('pointsCount')"
          size="lg"
        >
        </tlui-number-input>
      </tlui-form-field>
      <button
        (click)="openSettingPopup()"
        btnStyle="secondary"
        matTooltip="{{ t('advancedSettings') }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconSets"></svg-icon>
      </button>
      <button
        (click)="onClickPrint()"
        btnStyle="secondary"
        matTooltip="{{ 'mnemo.shared.print' | transloco }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconPrint"></svg-icon>
      </button>
    </div>
    <button (click)="clearSelection()" btnStyle="secondary" class="button" tluiButton>
      {{ 'mnemo.shared.clear' | transloco }}
    </button>
  </div>

  <ng-template #addTag>
    <button
      (click)="addChart($event, 'tag')"
      [class.line-loader]="chartWrapService.chartWrapLoading$ | async"
      [size]="'sm'"
      btnStyle="secondary"
      class="button"
      tluiButton
    >
      {{ (chartWrapService.chartWrapLoading$ | async) ? ('mnemo.shared.loading' | transloco) : t('add') }}
    </button>
  </ng-template>
  <ng-template #addOm>
    <button
      (click)="addChart($event, 'omAttr')"
      [class.line-loader]="chartWrapService.chartWrapLoading$ | async"
      [size]="'sm'"
      btnStyle="secondary"
      class="button"
      tluiButton
    >
      {{ (chartWrapService.chartWrapLoading$ | async) ? ('mnemo.shared.loading' | transloco) : t('add') }}
    </button>
  </ng-template>
  <ng-template #addFormula>
    <button
      (click)="addChart($event, 'formula')"
      [class.line-loader]="chartWrapService.chartWrapLoading$ | async"
      [size]="'sm'"
      btnStyle="secondary"
      class="button"
      tluiButton
    >
      {{ (chartWrapService.chartWrapLoading$ | async) ? ('mnemo.shared.loading' | transloco) : t('add') }}
    </button>
  </ng-template>
  <ng-template #addUser>
    <button
      (click)="addChart($event, 'user')"
      [class.line-loader]="chartWrapService.chartWrapLoading$ | async"
      [size]="'sm'"
      btnStyle="secondary"
      class="button"
      tluiButton
    >
      {{ (chartWrapService.chartWrapLoading$ | async) ? ('mnemo.shared.loading' | transloco) : t('add') }}
    </button>
  </ng-template>
</div>
