<div
  *transloco="let t; read: 'mnemo.ChartPageSelectorComponent'"
  [formGroup]="mnemoChartPageDataService.requestForm"
  class="chart-selector-container"
>
  <div class="chart-selector-container__title">
    {{ t('maxCount', { count: mnemoChartPageDataService.viewForm.controls.maxSelectedTrend.value }) }}
  </div>

  <div class="chart-selector-container__body">
    <tlui-accordion [multiple]="true">
      <ng-template
        [tluiAccordionItemExpanded]="!!mnemoChartPageDataService.activeTagMap?.size"
        [tluiAccordionItem]="t('tags')"
        [tluiAccordionTemplateRef]="addTag"
      >
        <tl-mnemo-chart-tag-list-2></tl-mnemo-chart-tag-list-2>
      </ng-template>
      <ng-template
        [tluiAccordionItemExpanded]="!!mnemoChartPageDataService.activeOmAttrMap?.size"
        [tluiAccordionItem]="t('omAttrs')"
        [tluiAccordionTemplateRef]="addOm"
      >
        <tl-mnemo-chart-om-list-2></tl-mnemo-chart-om-list-2>
      </ng-template>
      <ng-template
        [tluiAccordionItemExpanded]="!!mnemoChartPageDataService.activeFormulaAttrMap?.size"
        [tluiAccordionItem]="t('formulas')"
        [tluiAccordionTemplateRef]="addFormula"
      >
        <tl-mnemo-chart-formula-list-2></tl-mnemo-chart-formula-list-2>
      </ng-template>
      <ng-template [tluiAccordionItem]="t('user')" [tluiAccordionTemplateRef]="addUser">
        <span>В разработке</span>
      </ng-template>
    </tlui-accordion>
  </div>

  <div class="chart-selector-container__footer">
    <tlui-form-field class="date-picker" tluiDirDirective>
      <tlui-date-range-picker
        (keyup)="onKeyboardClick($event)"
        (onClosed)="onCalendarClose()"
        [class.disabled]="mnemoChartWrapService.chartWrapLoading$ | async"
        [closeOnSelect]="true"
        [date]="true"
        [disableSelectPrevDay]="false"
        [formControlName]="'date'"
        [iconPosition]="'right'"
        [language]="language$ | async"
        [placeholder]="t('selectPeriod')"
        [time]="true"
        size="lg"
      ></tlui-date-range-picker>
    </tlui-form-field>
    <div class="settings">
      <tlui-form-field (dirChange)="changeDir($event)" tluiDirDirective>
        <tlui-number-input
          [class.disabled]="mnemoChartWrapService.chartWrapLoading$ | async"
          [floatPlaceholder]="true"
          [formControlName]="'points'"
          [min]="0"
          [placeholder]="t('pointsCount')"
          size="lg"
        >
        </tlui-number-input>
      </tlui-form-field>
      <tlui-checkbox [formControlName]="'realtimeRefresh'">{{ t('updateEnabled') }}</tlui-checkbox>
    </div>
    <div class="settings">
      <button (click)="clearSelection()" btnStyle="secondary" class="clear-button" tluiButton>
        {{ 'mnemo.shared.clear' | transloco }}
      </button>
      <button
        (click)="openSettingPopup()"
        btnStyle="secondary"
        matTooltip="{{ t('advancedSettings') }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconSets"></svg-icon>
      </button>
      <button
        (click)="onClickPrint()"
        btnStyle="secondary"
        matTooltip="{{ 'mnemo.shared.print' | transloco }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconPrint"></svg-icon>
      </button>
    </div>
  </div>

  <ng-template #addTag>
    <button
      (click)="addChart($event, 'tag')"
      [class.line-loader]="mnemoChartWrapService.chartWrapLoading$ | async"
      [size]="'sm'"
      btnStyle="secondary"
      class="button"
      tluiButton
    >
      {{ (mnemoChartWrapService.chartWrapLoading$ | async) ? ('mnemo.shared.loading' | transloco) : t('add') }}
    </button>
  </ng-template>
  <ng-template #addOm>
    <button
      (click)="addChart($event, 'omAttr')"
      [class.line-loader]="mnemoChartWrapService.chartWrapLoading$ | async"
      [size]="'sm'"
      btnStyle="secondary"
      class="button"
      tluiButton
    >
      {{ (mnemoChartWrapService.chartWrapLoading$ | async) ? ('mnemo.shared.loading' | transloco) : t('add') }}
    </button>
  </ng-template>
  <ng-template #addFormula>
    <button
      (click)="addChart($event, 'formula')"
      [class.line-loader]="mnemoChartWrapService.chartWrapLoading$ | async"
      [size]="'sm'"
      btnStyle="secondary"
      class="button"
      tluiButton
    >
      {{ (mnemoChartWrapService.chartWrapLoading$ | async) ? ('mnemo.shared.loading' | transloco) : t('add') }}
    </button>
  </ng-template>
  <ng-template #addUser>
    <button
      (click)="addChart($event, 'user')"
      [class.line-loader]="mnemoChartWrapService.chartWrapLoading$ | async"
      [size]="'sm'"
      btnStyle="secondary"
      class="button"
      tluiButton
    >
      {{ (mnemoChartWrapService.chartWrapLoading$ | async) ? ('mnemo.shared.loading' | transloco) : t('add') }}
    </button>
  </ng-template>
</div>
