<ng-container *ngIf="chartOptions$ | async as chartOptions">
  <tlui-chart
    [bgColor]="chartOptions.view?.wrapper?.bgColor"
    [borderColor]="chartOptions.view?.wrapper?.borderColor"
    [borderRadius]="chartOptions.view?.wrapper?.borderRadius"
    [chartOrientation]="chartOptions.view?.tooltip?.chartOrientation"
    [language]="language$ | async"
    [legendAxis]="chartOptions.view?.legend?.legendAxis"
    [legendLayer]="chartOptions.view?.legend?.legendLayer"
    [legendPosition]="chartOptions.view?.legend?.legendPosition"
    [legendTrend]="chartOptions.view?.legend?.legendTrend"
    [legendType]="chartOptions.view?.legend?.legendType"
    [legend]="chartOptions.view?.legend?.legend"
    [marginBottom]="chartOptions.view?.wrapper?.marginBottom"
    [marginLeft]="chartOptions.view?.wrapper?.marginLeft"
    [marginRight]="chartOptions.view?.wrapper?.marginRight"
    [marginTop]="chartOptions.view?.wrapper?.marginTop"
    [resizeObserveType]="chartOptions.view?.resizeObserveType"
    [setDefIfContainerSizeInvalid]="true"
    [customResize]="customResize$ | async"
    [smartScrollEnable]="chartOptions.view?.wrapper?.smartScrollEnable"
    [smartScrollHeight]="chartOptions.view?.wrapper?.smartScrollHeight"
    [toolbarJustifyContent]="chartOptions.view?.toolbar?.toolbarJustifyContent"
    [toolbarPosition]="chartOptions.view?.toolbar?.toolbarPosition"
    [toolbar]="chartOptions.view?.toolbar?.toolbar"
    [tooltipColor]="chartOptions.view?.tooltip?.tooltipColor"
    [tooltipMarkerCrossSize]="chartOptions.view?.tooltip?.tooltipMarkerCrossSize"
    [tooltipMarkerType]="chartOptions.view?.tooltip?.tooltipMarkerType"
    [tooltipShowMilliseconds]="chartOptions.view?.tooltip?.tooltipShowMilliseconds"
    [tooltipType]="chartOptions.view?.tooltip?.tooltipType"
    [tooltipWidth]="chartOptions.view?.tooltip?.tooltipWidth"
    [tooltip]="chartOptions.view?.tooltip?.tooltip"
    [zoomType]="chartOptions.view?.zoomType"
  >
    <tlui-chart-layer
      [layerTitle]="chartOptions.view?.layer?.layerTitle"
      [tooltipColor]="chartOptions.view?.layer?.tooltipColor"
      [tooltipEnable]="chartOptions.view?.layer?.tooltipEnable"
      [zoomPrimaryEnable]="chartOptions.view?.layer?.zoomPrimaryEnable"
      [zoomSecondaryEnable]="chartOptions.view?.layer?.zoomSecondaryEnable"
    >
      <tlui-chart-axis
        [color]="chartOptions.view?.axisX?.color"
        [drawAxisLabelLine]="chartOptions.view?.axisX?.drawAxisLabelLine"
        [drawAxisLabel]="chartOptions.view?.axisX?.drawAxisLabel"
        [fontColor]="chartOptions.view?.axisX?.fontColor"
        [position]="chartOptions.view?.axisX?.position"
        [primary]="chartOptions.view?.axisX?.primary"
        [ticks]="chartOptions.view?.axisX?.ticks"
        [type]="chartOptions.view?.axisX?.type"
        name="x"
      >
      </tlui-chart-axis>
      <tlui-chart-axis
        [color]="chartOptions.view?.axisY?.color"
        [drawAxisLabelLine]="chartOptions.view?.axisY?.drawAxisLabelLine"
        [drawAxisLabel]="chartOptions.view?.axisY?.drawAxisLabel"
        [fontColor]="chartOptions.view?.axisY?.fontColor"
        [position]="chartOptions.view?.axisY?.position"
        [primary]="chartOptions.view?.axisY?.primary"
        [ticks]="chartOptions.view?.axisY?.ticks"
        [type]="chartOptions.view?.axisY?.type"
        name="y"
      ></tlui-chart-axis>
      <tlui-chart-grid
        [color]="chartOptions.view?.gridX?.color"
        [drawGrid]="chartOptions.view?.gridX?.drawGrid"
        axis="x"
      ></tlui-chart-grid>
      <tlui-chart-grid
        [color]="chartOptions.view?.gridY?.color"
        [drawGrid]="chartOptions.view?.gridY?.drawGrid"
        axis="y"
      ></tlui-chart-grid>

      @for (data of chartOptions.data; track data.parentChartId + data.name) {
        @if (data.type === typeOptions.Line) {
          <tlui-chart-data-layer
            [lineType]="'line'"
            [captions]="[data.name]"
            [color]="data.color"
            [colors]="[data.color]"
            [data]="data.chartData"
            [lineOpacity]="data.opacity"
            [lineDynamics]="data?.interpolation ?? chartOptions.view?.lineLayer?.config?.lineDynamics"
            [animation]="chartOptions.view?.lineLayer?.common?.animation"
            [extendStep]="chartOptions.view?.lineLayer?.config?.extendStep"
            [breakPointMarker]="chartOptions.view?.lineLayer?.config?.breakPointMarker"
            [breakPointSize]="chartOptions.view?.lineLayer?.config?.breakPointSize"
            [breakPoint]="chartOptions.view?.lineLayer?.config?.breakPoint"
            [dataPointMarker]="chartOptions.view?.lineLayer?.config?.dataPointMarker"
            [dataPointType]="chartOptions.view?.lineLayer?.config?.dataPointType"
            [durationAnimation]="chartOptions.view?.lineLayer?.common?.durationAnimation"
            [durationToggleAnimation]="chartOptions.view?.lineLayer?.common?.durationToggleAnimation"
            [endPointSize]="chartOptions.view?.lineLayer?.config?.endPointSize"
            [endPoint]="chartOptions.view?.lineLayer?.config?.endPoint"
            [interpolateEnable]="chartOptions.view?.lineLayer?.config?.interpolateEnable"
            [reRangeThenDataChange]="chartOptions.view?.lineLayer?.common?.reRangeThenDataChange"
            [reRangeThenLegendClick]="chartOptions.view?.lineLayer?.common?.reRangeThenLegendClick"
            [showValues]="chartOptions.view?.lineLayer?.common?.showValues"
            [valuesFontSizePx]="chartOptions.view?.lineLayer?.common?.valuesFontSizePx"
            [workgroundPadding]="chartOptions.view?.lineLayer?.common?.workgroundPadding"
            tluiChartLine
          ></tlui-chart-data-layer>
        }
        @if (data.type === typeOptions.Area || data.type === typeOptions.GradientArea) {
          <tlui-chart-data-layer
            [lineType]="'area'"
            [captions]="[data.name]"
            [color]="data.color"
            [colors]="data.palette?.length ? data.palette : [data.color]"
            [data]="data.chartData"
            [lineOpacity]="data.opacity"
            [lineDynamics]="data?.interpolation ?? chartOptions.view?.lineLayer?.config?.lineDynamics"
            [animation]="chartOptions.view?.lineLayer?.common?.animation"
            [extendStep]="chartOptions.view?.lineLayer?.config?.extendStep"
            [breakPointMarker]="chartOptions.view?.lineLayer?.config?.breakPointMarker"
            [breakPointSize]="chartOptions.view?.lineLayer?.config?.breakPointSize"
            [breakPoint]="chartOptions.view?.lineLayer?.config?.breakPoint"
            [dataPointMarker]="chartOptions.view?.lineLayer?.config?.dataPointMarker"
            [dataPointType]="chartOptions.view?.lineLayer?.config?.dataPointType"
            [durationAnimation]="chartOptions.view?.lineLayer?.common?.durationAnimation"
            [durationToggleAnimation]="chartOptions.view?.lineLayer?.common?.durationToggleAnimation"
            [endPointSize]="chartOptions.view?.lineLayer?.config?.endPointSize"
            [endPoint]="chartOptions.view?.lineLayer?.config?.endPoint"
            [interpolateEnable]="chartOptions.view?.lineLayer?.config?.interpolateEnable"
            [reRangeThenDataChange]="chartOptions.view?.lineLayer?.common?.reRangeThenDataChange"
            [reRangeThenLegendClick]="chartOptions.view?.lineLayer?.common?.reRangeThenLegendClick"
            [showValues]="chartOptions.view?.lineLayer?.common?.showValues"
            [valuesFontSizePx]="chartOptions.view?.lineLayer?.common?.valuesFontSizePx"
            [workgroundPadding]="chartOptions.view?.lineLayer?.common?.workgroundPadding"
            tluiChartLine
          ></tlui-chart-data-layer>
        }
        @if (data.type === typeOptions.Bar) {
          <tlui-chart-data-layer
            [captions]="[data.name]"
            [color]="data.color"
            [colors]="[data.color]"
            [data]="data.chartData"
            [barBorderColor]="data.secondColor"
            [barOpacity]="data.opacity"
            [animationType]="chartOptions.view?.barLayer?.config?.animationType"
            [animation]="chartOptions.view?.barLayer?.common?.animation"
            [barBorder]="chartOptions.view?.barLayer?.config?.barBorder"
            [barRadius]="chartOptions.view?.barLayer?.config?.barRadius"
            [barType]="chartOptions.view?.barLayer?.config?.barType"
            [barWidthPercent]="chartOptions.view?.barLayer?.config?.barWidthPercent"
            [durationAnimation]="chartOptions.view?.barLayer?.common?.durationAnimation"
            [durationToggleAnimation]="chartOptions.view?.barLayer?.common?.durationToggleAnimation"
            [reRangeThenDataChange]="chartOptions.view?.barLayer?.common?.reRangeThenDataChange"
            [reRangeThenLegendClick]="chartOptions.view?.barLayer?.common?.reRangeThenLegendClick"
            [showEnumValues]="chartOptions.view?.barLayer?.config?.showEnumValues"
            [showValues]="chartOptions.view?.barLayer?.common?.showValues"
            [tooltipHoverColor]="chartOptions.view?.barLayer?.config?.tooltipHoverColor"
            [tooltipHoverEffect]="chartOptions.view?.barLayer?.config?.tooltipHoverEffect"
            [valuePosition]="chartOptions.view?.barLayer?.config?.valuePosition"
            [valuesFontSizePx]="chartOptions.view?.barLayer?.common?.valuesFontSizePx"
            [workgroundPadding]="chartOptions.view?.barLayer?.common?.workgroundPadding"
            tluiChartBar
          ></tlui-chart-data-layer>
        }
        @if (data.type === typeOptions.BarHorizontal) {
          <tlui-chart-data-layer
            [captions]="[data.name]"
            [color]="data.color"
            [colors]="[data.color]"
            [data]="data.chartData"
            [barBorderColor]="data.secondColor"
            [barOpacity]="data.opacity"
            [animationType]="chartOptions.view?.barLayer?.config?.animationType"
            [animation]="chartOptions.view?.barLayer?.common?.animation"
            [barBorder]="chartOptions.view?.barLayer?.config?.barBorder"
            [barRadius]="chartOptions.view?.barLayer?.config?.barRadius"
            [barType]="chartOptions.view?.barLayer?.config?.barType"
            [barWidthPercent]="chartOptions.view?.barLayer?.config?.barWidthPercent"
            [durationAnimation]="chartOptions.view?.barLayer?.common?.durationAnimation"
            [durationToggleAnimation]="chartOptions.view?.barLayer?.common?.durationToggleAnimation"
            [reRangeThenDataChange]="chartOptions.view?.barLayer?.common?.reRangeThenDataChange"
            [reRangeThenLegendClick]="chartOptions.view?.barLayer?.common?.reRangeThenLegendClick"
            [showEnumValues]="chartOptions.view?.barLayer?.config?.showEnumValues"
            [showValues]="chartOptions.view?.barLayer?.common?.showValues"
            [tooltipHoverColor]="chartOptions.view?.barLayer?.config?.tooltipHoverColor"
            [tooltipHoverEffect]="chartOptions.view?.barLayer?.config?.tooltipHoverEffect"
            [valuePosition]="chartOptions.view?.barLayer?.config?.valuePosition"
            [valuesFontSizePx]="chartOptions.view?.barLayer?.common?.valuesFontSizePx"
            [workgroundPadding]="chartOptions.view?.barLayer?.common?.workgroundPadding"
            tluiChartHorizontalBar
          ></tlui-chart-data-layer>
        }
      }

      @if (chartOptions?.comboData?.comboBar?.chartDataCommon?.length) {
        <tlui-chart-data-layer
          [captions]="chartOptions?.comboData.comboBar.captionCommon"
          [colors]="chartOptions?.comboData.comboBar.paletteCommon"
          [data]="chartOptions?.comboData?.comboBar.chartDataCommon"
          [barBorderColors]="chartOptions?.comboData.comboBar.barBorderColorsCommon"
          [barOpacity]="chartOptions?.comboData.comboBar.opacity"
          [barsOpacity]="chartOptions?.comboData.comboBar.opacityArrCommon"
          [animationType]="chartOptions.view?.comboBarLayer?.config?.animationType"
          [animation]="chartOptions.view?.comboBarLayer?.common?.animation"
          [barBorder]="chartOptions.view?.comboBarLayer?.config?.barBorder"
          [barRadius]="chartOptions.view?.comboBarLayer?.config?.barRadius"
          [barType]="chartOptions.view?.comboBarLayer?.config?.barType"
          [barWidthPercent]="chartOptions.view?.comboBarLayer?.config?.barWidthPercent"
          [durationAnimation]="chartOptions.view?.comboBarLayer?.common?.durationAnimation"
          [durationToggleAnimation]="chartOptions.view?.comboBarLayer?.common?.durationToggleAnimation"
          [reRangeThenDataChange]="chartOptions.view?.comboBarLayer?.common?.reRangeThenDataChange"
          [reRangeThenLegendClick]="chartOptions.view?.comboBarLayer?.common?.reRangeThenLegendClick"
          [showEnumValues]="chartOptions.view?.comboBarLayer?.config?.showEnumValues"
          [showValues]="chartOptions.view?.comboBarLayer?.common?.showValues"
          [stackWidthPercent]="chartOptions.view?.comboBarLayer?.config?.stackWidthPercent"
          [tooltipHoverColor]="chartOptions.view?.comboBarLayer?.config?.tooltipHoverColor"
          [tooltipHoverEffect]="chartOptions.view?.comboBarLayer?.config?.tooltipHoverEffect"
          [valuePosition]="chartOptions.view?.comboBarLayer?.config?.valuePosition"
          [valuesFontSizePx]="chartOptions.view?.comboBarLayer?.common?.valuesFontSizePx"
          [workgroundPadding]="chartOptions.view?.comboBarLayer?.common?.workgroundPadding"
          tluiChartComboBar
        ></tlui-chart-data-layer>
      }

      @if (chartOptions?.comboData?.comboBarHorizontal?.chartDataCommon?.length) {
        <tlui-chart-data-layer
          [captions]="chartOptions?.comboData.comboBarHorizontal.captionCommon"
          [colors]="chartOptions?.comboData.comboBarHorizontal.paletteCommon"
          [data]="chartOptions?.comboData?.comboBarHorizontal.chartDataCommon"
          [barBorderColors]="chartOptions?.comboData?.comboBarHorizontal.barBorderColorsCommon"
          [barOpacity]="chartOptions?.comboData.comboBarHorizontal.opacity"
          [barsOpacity]="chartOptions?.comboData.comboBarHorizontal.opacityArrCommon"
          [animationType]="chartOptions.view?.comboBarLayer?.config?.animationType"
          [animation]="chartOptions.view?.comboBarLayer?.common?.animation"
          [barBorder]="chartOptions.view?.comboBarLayer?.config?.barBorder"
          [barRadius]="chartOptions.view?.comboBarLayer?.config?.barRadius"
          [barType]="chartOptions.view?.comboBarLayer?.config?.barType"
          [barWidthPercent]="chartOptions.view?.comboBarLayer?.config?.barWidthPercent"
          [durationAnimation]="chartOptions.view?.comboBarLayer?.common?.durationAnimation"
          [durationToggleAnimation]="chartOptions.view?.comboBarLayer?.common?.durationToggleAnimation"
          [reRangeThenDataChange]="chartOptions.view?.comboBarLayer?.common?.reRangeThenDataChange"
          [reRangeThenLegendClick]="chartOptions.view?.comboBarLayer?.common?.reRangeThenLegendClick"
          [showEnumValues]="chartOptions.view?.comboBarLayer?.config?.showEnumValues"
          [showValues]="chartOptions.view?.comboBarLayer?.common?.showValues"
          [stackWidthPercent]="chartOptions.view?.comboBarLayer?.config?.stackWidthPercent"
          [tooltipHoverColor]="chartOptions.view?.comboBarLayer?.config?.tooltipHoverColor"
          [tooltipHoverEffect]="chartOptions.view?.comboBarLayer?.config?.tooltipHoverEffect"
          [valuePosition]="chartOptions.view?.comboBarLayer?.config?.valuePosition"
          [valuesFontSizePx]="chartOptions.view?.comboBarLayer?.common?.valuesFontSizePx"
          [workgroundPadding]="chartOptions.view?.comboBarLayer?.common?.workgroundPadding"
          tluiChartHorizontalComboBar
        ></tlui-chart-data-layer>
      }

      @if (chartOptions?.comboData?.stackBar?.chartDataCommon?.length) {
        <tlui-chart-data-layer
          [captions]="chartOptions?.comboData.stackBar.captionCommon"
          [colors]="chartOptions?.comboData.stackBar.paletteCommon"
          [data]="chartOptions?.comboData.stackBar?.chartDataCommon"
          [barBorderColors]="chartOptions?.comboData.stackBar?.barBorderColorsCommon"
          [barOpacity]="chartOptions?.comboData.stackBar.opacity"
          [barsOpacity]="chartOptions?.comboData.stackBar.opacityArrCommon"
          [animationType]="chartOptions.view?.stackBarLayer?.config?.animationType"
          [animation]="chartOptions.view?.stackBarLayer?.common?.animation"
          [barBorder]="chartOptions.view?.stackBarLayer?.config?.barBorder"
          [barRadius]="chartOptions.view?.stackBarLayer?.config?.barRadius"
          [barType]="chartOptions.view?.stackBarLayer?.config?.barType"
          [barWidthPercent]="chartOptions.view?.stackBarLayer?.config?.barWidthPercent"
          [durationAnimation]="chartOptions.view?.stackBarLayer?.common?.durationAnimation"
          [durationToggleAnimation]="chartOptions.view?.stackBarLayer?.common?.durationToggleAnimation"
          [reRangeThenDataChange]="chartOptions.view?.stackBarLayer?.common?.reRangeThenDataChange"
          [reRangeThenLegendClick]="chartOptions.view?.stackBarLayer?.common?.reRangeThenLegendClick"
          [stackType]="chartOptions.view?.stackBarLayer?.config.stackType"
          [showEnumValues]="chartOptions.view?.stackBarLayer?.config?.showEnumValues"
          [showStackValues]="chartOptions.view?.stackBarLayer?.config?.showStackValues"
          [showValues]="chartOptions.view?.stackBarLayer?.common?.showValues"
          [tooltipHoverColor]="chartOptions.view?.stackBarLayer?.config?.tooltipHoverColor"
          [tooltipHoverEffect]="chartOptions.view?.stackBarLayer?.config?.tooltipHoverEffect"
          [valuePosition]="chartOptions.view?.stackBarLayer?.config?.valuePosition"
          [valuesFontSizePx]="chartOptions.view?.stackBarLayer?.common?.valuesFontSizePx"
          [workgroundPadding]="chartOptions.view?.stackBarLayer?.common?.workgroundPadding"
          tluiChartStackBar
        ></tlui-chart-data-layer>
      }
      @if (chartOptions?.comboData?.stackBarHorizontal?.chartDataCommon?.length) {
        <tlui-chart-data-layer
          [captions]="chartOptions?.comboData.stackBarHorizontal.captionCommon"
          [colors]="chartOptions?.comboData.stackBarHorizontal.paletteCommon"
          [data]="chartOptions?.comboData.stackBarHorizontal?.chartDataCommon"
          [barBorderColors]="chartOptions?.comboData.stackBarHorizontal?.barBorderColorsCommon"
          [barOpacity]="chartOptions?.comboData.stackBarHorizontal.opacity"
          [barsOpacity]="chartOptions?.comboData.stackBarHorizontal.opacityArrCommon"
          [animationType]="chartOptions.view?.stackBarLayer?.config?.animationType"
          [animation]="chartOptions.view?.stackBarLayer?.common?.animation"
          [barBorder]="chartOptions.view?.stackBarLayer?.config?.barBorder"
          [barRadius]="chartOptions.view?.stackBarLayer?.config?.barRadius"
          [barType]="chartOptions.view?.stackBarLayer?.config?.barType"
          [barWidthPercent]="chartOptions.view?.stackBarLayer?.config?.barWidthPercent"
          [durationAnimation]="chartOptions.view?.stackBarLayer?.common?.durationAnimation"
          [durationToggleAnimation]="chartOptions.view?.stackBarLayer?.common?.durationToggleAnimation"
          [reRangeThenDataChange]="chartOptions.view?.stackBarLayer?.common?.reRangeThenDataChange"
          [reRangeThenLegendClick]="chartOptions.view?.stackBarLayer?.common?.reRangeThenLegendClick"
          [stackType]="chartOptions.view?.stackBarLayer?.config.stackType"
          [showEnumValues]="chartOptions.view?.stackBarLayer?.config?.showEnumValues"
          [showStackValues]="chartOptions.view?.stackBarLayer?.config?.showStackValues"
          [showValues]="chartOptions.view?.stackBarLayer?.common?.showValues"
          [tooltipHoverColor]="chartOptions.view?.stackBarLayer?.config?.tooltipHoverColor"
          [tooltipHoverEffect]="chartOptions.view?.stackBarLayer?.config?.tooltipHoverEffect"
          [valuePosition]="chartOptions.view?.stackBarLayer?.config?.valuePosition"
          [valuesFontSizePx]="chartOptions.view?.stackBarLayer?.common?.valuesFontSizePx"
          [workgroundPadding]="chartOptions.view?.stackBarLayer?.common?.workgroundPadding"
          tluiChartHorizontalStackBar
        ></tlui-chart-data-layer>
      }
    </tlui-chart-layer>
  </tlui-chart>
</ng-container>
