<div *transloco="let t; read: 'mnemo.ChartPageComponent'" class="chart-container">
  <ng-container *ngIf="(chartWrapService.chartWrapLoading$ | async) === false; else loader">
    <ng-container *ngIf="chartWrapService.chartPageDrawData$ | async as wrapperData; else empty">
      <ng-container *ngIf="(isEmpty$ | async) === false; else emptyRes">
        <ng-container *ngTemplateOutlet="chart; context: { wrapperData: wrapperData }"></ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #chart let-wrapperData="wrapperData">
  <tlui-line-chart
    [customResize]="chartWrapService.chartSizeChanged$ | async"
    [language]="language$ | async"
    [legend]="wrapperData.viewOptions.legend"
    [marginBottom]="wrapperData.viewOptions.marginBottom"
    [marginLeft]="wrapperData.viewOptions.marginLeft"
    [marginRight]="wrapperData.viewOptions.marginRight"
    [marginTop]="wrapperData.viewOptions.marginTop"
    [smartScrollEnable]="wrapperData.viewOptions.smartScrollEnable"
    [smartScrollHeight]="wrapperData.viewOptions.smartScrollHeight"
    [tooltipColor]="wrapperData.viewOptions.tooltipColor"
    [tooltipMarkerCrossSize]="wrapperData.viewOptions.tooltipMarkerCrossSize"
    [tooltipMarkerType]="wrapperData.viewOptions.tooltipMarkerType"
    [tooltipType]="wrapperData.viewOptions.tooltipType"
    [tooltipWidth]="wrapperData.viewOptions.tooltipWidth"
    [tooltip]="wrapperData.viewOptions.tooltip"
    [zoomType]="wrapperData.viewOptions.zoomType"
  >
    <tlui-lc-layer
      *ngFor="let layerData of wrapperData.layers"
      [layerTitle]="layerData.layerTitle"
      [zoomXEnable]="wrapperData.viewOptions.zoomXEnable"
      [zoomYEnable]="wrapperData.viewOptions.zoomYEnable"
    >
      <tlui-lc-axis
        [color]="layerData.layerViewOptions.axisX.color"
        [max]="layerData.layerViewOptions.axisX.max"
        [min]="layerData.layerViewOptions.axisX.min"
        [name]="'x-' + layerData.layerTitle"
        [position]="layerData.layerViewOptions.axisX.position ?? 'bottom'"
        [primary]="layerData.layerViewOptions.axisX.primary ?? true"
        [textColor]="layerData.layerViewOptions.axisX.textColor"
        [ticks]="layerData.layerViewOptions.axisX.ticks ?? 10"
        [type]="layerData.layerViewOptions.axisX.type ?? 'time'"
      ></tlui-lc-axis>
      <tlui-lc-axis
        [color]="layerData.layerViewOptions.axisY.color"
        [max]="layerData.layerViewOptions.axisY.max"
        [min]="layerData.layerViewOptions.axisY.min"
        [name]="'y-' + layerData.layerTitle"
        [position]="layerData.layerViewOptions.axisY.position ?? 'left'"
        [primary]="layerData.layerViewOptions.axisY.primary ?? false"
        [textColor]="layerData.layerViewOptions.axisY.textColor"
        [ticks]="layerData.layerViewOptions.axisY.ticks ?? 10"
        [type]="layerData.layerViewOptions.axisY.type ?? 'number'"
      ></tlui-lc-axis>

      <tlui-lc-grid-lines [axis]="'x-' + layerData.layerTitle" [color]="layerData.layerViewOptions.gridX.color">
      </tlui-lc-grid-lines>
      <tlui-lc-grid-lines [axis]="'y-' + layerData.layerTitle" [color]="layerData.layerViewOptions.gridY.color">
      </tlui-lc-grid-lines>

      <ng-container *ngIf="layerData.layerDrawOptions.line?.length">
        <ng-container *ngFor="let trendData of layerData.layerDrawOptions.line | sortViewerChartData; index as idx">
          <tlui-lc-data
            [animation]="trendData.layerDataViewOptions.animation"
            [areaColor]="trendData.layerDataViewOptions.areaColor"
            [areaGradientColors]="[trendData.layerDataViewOptions.areaGradientColors]"
            [axis]="'y-' + layerData.layerTitle"
            [breakPointColor]="trendData.layerDataViewOptions.breakPointColor"
            [breakPointLimit]="trendData.layerDataViewOptions.breakPointLimit"
            [breakPointMarker]="trendData.layerDataViewOptions.breakPointMarker"
            [breakPointSize]="trendData.layerDataViewOptions.breakPointSize"
            [breakPointStrokeColor]="trendData.layerDataViewOptions.breakPointColor"
            [breakPointStrokeSize]="trendData.layerDataViewOptions.breakPointSize"
            [breakPointType]="trendData.layerDataViewOptions.breakPointType"
            [breakPoint]="trendData.layerDataViewOptions.breakPoint"
            [caption]="trendData.layerDataViewOptions.caption"
            [dataPointColor]="trendData.layerDataViewOptions.dataPointColor"
            [dataPointStrokeColor]="trendData.layerDataViewOptions.dataPointColor"
            [dataPointType]="trendData.layerDataViewOptions.dataPointType"
            [data]="trendData.layerDataDrawOptions.dataUpdate$ | async"
            [durationAnimation]="trendData.layerDataViewOptions.durationAnimation"
            [endPointSize]="trendData.layerDataViewOptions.endPointSize"
            [endPointStrokeSize]="trendData.layerDataViewOptions.endPointStrokeSize"
            [endPoint]="trendData.layerDataViewOptions.endPoint"
            [engUnits]="trendData.layerDataViewOptions.engUnits"
            [extendStep]="trendData.layerDataViewOptions.extendStep"
            [interpolateEnable]="trendData.layerDataViewOptions.interpolateEnable"
            [lineColor]="trendData.layerDataViewOptions.lineColor"
            [lineDynamics]="trendData.layerDataViewOptions.lineDynamics"
            [lineOpacity]="trendData.layerDataViewOptions.lineOpacity"
            [lineType]="trendData.layerDataViewOptions.lineType"
            [lineWidth]="trendData.layerDataViewOptions.lineWidth"
            [reRangeThenDataChange]="trendData.layerDataViewOptions.reRangeThenDataChange"
            [reRangeThenLegendClick]="trendData.layerDataViewOptions.reRangeThenLegendClick"
            [showValues]="trendData.layerDataViewOptions.showValues"
            tluiLCLine
          >
          </tlui-lc-data>
        </ng-container>
      </ng-container>

      <!--            <ng-container *ngIf="layerData.layerDrawOptions.bar?.length">-->

      <!--            </ng-container>-->

      <!--            <ng-container *ngIf="layerData.layerDrawOptions.stackBar?.length">-->

      <!--            </ng-container>-->

      <tlui-LC-smart-scroll
        *ngIf="wrapperData.viewOptions.smartScrollEnable"
        [color]="wrapperData.viewOptions.smartScrollColor"
        [data]="[
          [0, 1],
          [1, 1],
        ]"
      >
      </tlui-LC-smart-scroll>
    </tlui-lc-layer>
  </tlui-line-chart>
</ng-template>

<ng-template #loader>
  <div class="loading-shade">
    <tlui-spinner></tlui-spinner>
  </div>
</ng-template>

<ng-template #empty>
  <div class="no-data">
    <svg-icon [src]="viewerService.baseUrl + 'assets/not-selected-2.svg'" class="img"></svg-icon>
    <span class="title">{{ 'mnemo.shared.youDidntChooseAnything' | transloco }}</span>
    <span class="message">{{ 'mnemo.shared.youDidntChooseAnythingText' | transloco }}</span>
  </div>
</ng-template>

<ng-template #emptyRes>
  <div class="no-data">
    <tlui-lottie-animation animationType="magnifier" width="100px"></tlui-lottie-animation>
    <span class="title">{{ 'mnemo.shared.noResultsFound' | transloco }}</span>
    <span class="message">{{ 'mnemo.shared.noResultsFoundText' | transloco }}</span>
  </div>
</ng-template>
