@import 'projects/shared/mnemo/mixins/shared-mixin';

:host {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  ::ng-deep {
    .viewer-toolbar {
      padding: 0 !important;
    }
  }
}

.header {
  visibility: visible;

  &_invisible {
    visibility: hidden;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  font-size: 13px;

  &__content {
    display: flex;
    flex-direction: row;
    place-content: center center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $body-background;

    .mx-viewer {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .mx-table {
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    .mx-dashboard {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .chart-toolbar {
      z-index: 1;
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0 4px;
      top: 0;
      width: 100%;
      border-bottom: 1px solid $border;
      border-radius: 10px;
      background-color: $body-background;
      color: $font-color;
      transition:
        top 200ms,
        z-index 200ms;
      visibility: visible;

      &_collapse {
        top: -50px;
        visibility: hidden;
      }

      &__icon {
        z-index: 2;
        position: absolute;
        left: 50%;
        height: 20px;
        transition: top 200ms;
      }
    }

    .toolbar-container {
      z-index: -1;
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0 4px;
      bottom: -60px;
      height: 50px;
      width: 290px;
      border: 1px solid $border;
      border-radius: 10px;
      background-color: $body-background;
      transition:
        bottom 400ms,
        z-index 400ms;
    }

    &:hover {
      .toolbar-container {
        z-index: 1;
        bottom: 0;
      }
    }
  }
}

@include no-data();
