@import '../../../../mixins/shared-mixin';
@import '../../../../mixins/scroll-mixin';

* {
  box-sizing: border-box;
}

:host::ng-deep {
  .tlui-accordion-tab__header {
    background: $header-background;
  }

  .tlui-accordion-tab__body {
    background: $body-background;
    flex: 1;
  }

  .tlui-accordion-tab.tlui-accordion-tab--expanded {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid $border;
  background: $body-background;

  @include no-data();

  .title {
    padding: 4px 8px;
    color: $font-color;
  }

  .body {
    display: flex;
    flex: 1 1;

    &_ltr {
      @include vertical-scroll($direction: ltr);
    }

    &_rtl {
      @include vertical-scroll($direction: rtl);
    }

    tlui-accordion {
      width: 100%;
    }

    .tab-content {
      display: flex;
      flex-direction: column;
      padding: 8px;
      gap: 4px;
      height: 100%;

      .form {
        display: flex;
        flex-direction: column;

        &__row {
          display: flex;
          gap: 10px;
          align-items: center;

          .input {
            width: 50%;
          }

          &:hover,
          .fx-active {
            color: $color-logo;
            cursor: pointer;
          }
        }
      }

      span {
        font-size: 11px;
        font-weight: 400;
        color: var(--color-text-optional-color);
        margin-bottom: 8px;
        display: block;
      }

      .icon {
        cursor: pointer;
      }

      .tree {
        width: 100%;
        height: 60%;
      }
    }
  }

  .footer {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 10px;
    border-top: 1px solid $border;

    .button {
      width: 100%;
    }
  }
}

.line-loader {
  @include line-loader($opacity: 0.7, $size: 200px);
}

.disabled {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}
