@import '../../../../../mixins/table-mixin';
@import '../../../../../mixins/popup-mixin';

* {
  box-sizing: border-box;
  margin: 0;
}

:host {
  width: 100%;
  height: 100%;
}

@include popup(800px, 800px, true);

.value-container {
  &__accordion {
    width: 100%;

    @include table(36px);

    table {
      thead {
        position: sticky;
        top: -1px;
        z-index: 2;
      }

      margin-top: 2px;

      td,
      th {
        width: 50%;
      }

      td.bad {
        color: var(--color-index-critical);
      }
    }
  }

  .scroll-port {
    width: 100%;
    height: 400px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 0 8px;
  }
}
