<div *transloco="let t; read: 'mnemo.ChartSettingComponent'" [formGroup]="formGroup" @popup class="container">
  <div cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" class="header">
    <div class="title">{{ data?.trendName }}</div>
    <svg-icon (click)="onClose()" class="tlui-icon--sm close" src="tluiIconClose"></svg-icon>
  </div>
  <div class="content">
    <tlui-checkbox [formControl]="requestControl">{{ t('customRequest') }}</tlui-checkbox>
    <tl-mnemo-request-setting-form
      [class.tlui-disabled]="!requestControl?.value"
      [formGroupName]="'requestForm'"
      [isExpanded]="requestControl.value"
    ></tl-mnemo-request-setting-form>
    <tl-mnemo-view-setting-form
      [formGroupName]="'viewForm'"
      [isExpanded]="requestControl.value"
      [isShowAutoZoom]="false"
      [isShowExponent]="true"
      [isShowMaxSelectedTrend]="false"
    ></tl-mnemo-view-setting-form>
    <tl-mnemo-trend-setting-form [formGroupName]="'optionsForm'" [isExpanded]="true"></tl-mnemo-trend-setting-form>
    @if (data?.chartData?.length) {
      <div class="value-container">
        <tlui-accordion class="value-container__accordion">
          <ng-template
            [tluiAccordionItem]="t('valueList')"
            [tluiAccordionItemRightIconText]="data?.chartData?.length"
            [tluiAccordionTemplateRef]="copyButtons"
          >
            <cdk-virtual-scroll-viewport
              appendOnly="true"
              itemSize="50"
              class="scroll-port"
              maxBufferPx="1000"
              minBufferPx="800"
            >
              <table style="width: 100%">
                <thead>
                  <tr>
                    <th tluiDirDirective>{{ t('date') }}</th>
                    <th tluiDirDirective>{{ t('value') }}</th>
                  </tr>
                </thead>
                <tbody>
                  @for (row of data?.chartData; track row) {
                    <tr>
                      <td tluiDirDirective>
                        {{ row[0] | date: 'dd.MM.yyyy' }}
                        <span> {{ row[0] | date: 'HH:mm:ss:SSS' }}</span>
                      </td>
                      <td [class.bad]="!row[1]" tluiDirDirective>{{ row[1] ? row[1] : 'Bad' }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </cdk-virtual-scroll-viewport>
          </ng-template>

          <ng-template #copyButtons>
            <div class="value-container__buttons">
              <button
                (click)="onCopy()"
                btnStyle="secondary"
                matTooltip="{{ t('copyToBuffer') }}"
                size="sm"
                tluiButton
                type="button"
              >
                <svg-icon class="tlui-icon--sm" src="tluiIconLinkChainClip"></svg-icon>
              </button>
              <button
                (click)="onDownload()"
                btnStyle="secondary"
                matTooltip="{{ 'mnemo.shared.download' | transloco }}"
                size="sm"
                tluiButton
                type="button"
              >
                <svg-icon class="tlui-icon--sm" src="tluiIconClipboardLoad"></svg-icon>
              </button>
            </div>
          </ng-template>
        </tlui-accordion>
      </div>
    }
  </div>
  <div class="footer">
    <button (click)="onSave()" btnStyle="primary" size="md" tluiButton type="submit">
      {{ 'mnemo.shared.save' | transloco }}
    </button>
    <button (click)="onClose()" btnStyle="secondary" size="md" tluiButton type="reset">
      {{ 'mnemo.shared.close' | transloco }}
    </button>
    <button (click)="onReset()" btnStyle="secondary" size="md" tluiButton type="reset">
      {{ 'mnemo.shared.reset' | transloco }}
    </button>
  </div>
</div>
