<div
  *transloco="let t; read: 'mnemo.ChartPageSelectorComponent'"
  [ngClass]="'predictors-list_' + mnemoChartPageDataService.currentDirection"
  class="predictors-list"
>
  @for (item of mnemoChartPageDataService.activeTagMap | keyvalue; track item.key) {
    <div
      (click)="selectPredictor(item.value)"
      [class.line-loader]="mnemoChartWrapService.chartWrapLoading$ | async"
      [class.predictor_active]="item.value.isActive"
      class="predictor"
      matRipple
      matRippleColor="var(--color-logo-50)"
      tluiDirDirective
    >
      <div class="predictor__title">
        <div [ngStyle]="{ backgroundColor: getPredictorColor(item.key) }" class="marker"></div>
        <span matTooltip="{{ item.value.tagName }}">{{ item.value.tagName }}</span>
      </div>

      <div class="predictor__setting">
        <button
          (click)="openSettingPopup($event, item.value)"
          [disabled]="checkSetting(item.value.tagName)"
          btnStyle="tertiary"
          class="predictor__button"
          size="sm"
          tluiButton
        >
          <svg-icon matTooltip="{{ t('advancedSettings') }}" class="tlui-icon--sm" src="tluiIconSets"></svg-icon>
          @if (isSeparateLayer(item.value.tagName)) {
            <div (click)="catchEvent($event)" class="predictor__info predictor__info_good predictor__info_blink">
              <svg-icon
                (click)="catchEvent($event)"
                matTooltip="{{ 'mnemo.ChartSettingComponent.separateLayer' | transloco }}"
                src="tluiIconChartMountainCorner"
              >
              </svg-icon>
            </div>
          }
          @if (isEmptyData(item.value.tagName)) {
            <div (click)="catchEvent($event)" class="predictor__info predictor__info_error predictor__info_blink">
              <svg-icon (click)="catchEvent($event)" [matTooltip]="t('emptyText')" src="tluiIconAlertAlarm"></svg-icon>
            </div>
          }
          @if (isChanged(item.value.tagName)) {
            <svg-icon class="predictor__info predictor__info_warning" src="tluiIconEditPen"> </svg-icon>
          }
        </button>
      </div>
    </div>
  }
</div>
