<ng-container *ngIf="!!(isLoading$ | async); else loader">
  <gridster *transloco="let t; read: 'mnemo.ViewerDashboardComponent'" [options]="options" class="grid">
    @if (activeShapesService.isLoading$ | async) {
      <div class="loading-shade">
        <tlui-spinner></tlui-spinner>
      </div>
    }

    @for (item of _data; track item.id) {
      <gridster-item [item]="item">
        <div class="item">
          <div class="item__header">
            <div>
              {{ item.name }}
            </div>

            <div class="indicator-container">
              @if (item?.requestOptions?.realtimeRefresh === false) {
                <svg-icon
                  class="indicator"
                  matTooltip="{{ t('realtimeRefreshDisabled') }}"
                  src="tluiIconWindowCloseSquare"
                ></svg-icon>
              } @else {
                <svg-icon
                  class="indicator"
                  matTooltip="{{ t('realtimeRefresh') }}"
                  src="tluiIconApproveOkReturn"
                ></svg-icon>
              }

              @if (item?.requestOptions) {
                @if (item?.requestOptions?.date?.start && item?.requestOptions?.date?.end) {
                  <svg-icon
                    class="indicator"
                    matTooltip="{{ t('dateChanged') }}"
                    src="tluiIconCalendarAttention"
                  ></svg-icon>
                }
                @if (item?.requestOptions?.hoursPeriod !== 8) {
                  <svg-icon
                    class="indicator"
                    matTooltip="{{ t('hoursPeriodChanged') }}"
                    src="tluiIconTimerAlarm"
                  ></svg-icon>
                }
                @if (item?.requestOptions?.points > 0) {
                  <svg-icon
                    class="indicator"
                    matTooltip="{{ t('pointsChanged') }}"
                    src="tluiIconCircleRandomX3Group"
                  ></svg-icon>
                }
                @if (item?.requestOptions?.fixedPoints) {
                  <svg-icon class="indicator" matTooltip="{{ t('fixedPoints') }}" src="tluiIconWidth"></svg-icon>
                }
              }
              <svg-icon
                (mousedown)="openRequestSetting($event, item)"
                (touchstart)="openRequestSetting($event, item)"
                class="indicator indicator_clickable"
                matTooltip="{{ t('setChart') }}"
                src="tluiIconSetsOk"
              ></svg-icon>
              <svg-icon
                (mousedown)="openSourceSettings($event, item)"
                (touchstart)="openSourceSettings($event, item)"
                class="indicator indicator_clickable"
                matTooltip="{{ t('openSetting') }}"
                src="tluiIconSets"
              ></svg-icon>
            </div>
          </div>
          @if (item?.requestOptions) {
            <tl-mnemo-active-shapes-dashboard-wrapper
              [cdkContextMenuTriggerFor]="menu"
              [cdkContextMenuTriggerData]="{ item: item, element: currentItem }"
              [item]="item"
              [id]="item.id"
              #currentItem
            ></tl-mnemo-active-shapes-dashboard-wrapper>
          } @else {
            <div
              (mousedown)="$event.stopPropagation()"
              (touchstart)="$event.stopPropagation()"
              [cdkContextMenuTriggerFor]="menu"
              [cdkContextMenuTriggerData]="{ item: item }"
              class="item__body"
            >
              <ng-container
                *ngComponentOutlet="
                  getComponentByType(item.viewElementType);
                  injector: item.id | fn: getInjector : item.options
                "
              ></ng-container>
            </div>
          }
        </div>
      </gridster-item>
    }

    <ng-template #menu let-element="element" let-item="item">
      <table (click)="openRequestSettingsPopup(item, element)" [style.width.px]="138" cdkMenu class="mxPopupMenu">
        <tbody>
          <tr class="mxPopupMenuItem">
            <td class="mxPopupMenuIcon"></td>
            <td align="left" class="mxPopupMenuItem">{{ t('setChart') }}</td>
            <td class="mxPopupMenuItem"></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </gridster>
</ng-container>

<ng-template #loader>
  <div class="skeleton-loader">
    <ngx-skeleton-loader
      [theme]="{ width: '650px', height: '30px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '500px', height: '300px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '450px', height: '30px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '500px', height: '300px', backgroundColor: 'var(--color-color-6)' }"
      appearance="line"
    ></ngx-skeleton-loader>
  </div>
</ng-template>
