<ng-container *ngIf="chartOptions$ | async as chartOptions">
  <tlui-line-chart
    [bgColor]="chartOptions.view?.isBackgroundColorEnabled ? chartOptions.view.backgroundColor : 'transparent'"
    [customResize]="customResize$ | async"
    [language]="language$ | async"
    [legend]="chartOptions.view?.isLegendEnabled"
    [marginTop]="0"
    [setDefIfContainerSizeInvalid]="true"
    [smartScrollEnable]="chartOptions.view?.isSmartScrollEnabled"
    [smartScrollHeight]="20"
    [tooltipType]="chartOptions.view?.tooltipType ?? 'fullLine'"
    [tooltip]="chartOptions.view?.isTooltipEnabled"
    [zoomType]="chartOptions.view?.zoomType"
  >
    <tlui-lc-layer [zoomXEnable]="chartOptions.view?.zoomXEnable" [zoomYEnable]="chartOptions.view?.zoomYEnable">
      <tlui-lc-axis
        [color]="chartOptions.view?.isAxisesColorEnabled ? chartOptions.view.axisesColor : 'transparent'"
        [primary]="true"
        [textColor]="chartOptions.view?.isAxisValuesColorEnabled ? chartOptions.view.axisValuesColor : 'transparent'"
        [ticks]="6"
        [type]="!!this.options?.exampleView ? 'number' : (chartOptions?.view?.xLabelType ?? 'time')"
        name="x"
        position="bottom"
      ></tlui-lc-axis>
      <tlui-lc-axis
        [color]="chartOptions.view?.isAxisesColorEnabled ? chartOptions.view.axisesColor : 'transparent'"
        [textColor]="chartOptions.view?.isAxisValuesColorEnabled ? chartOptions.view.axisValuesColor : 'transparent'"
        [ticks]="10"
        name="y"
        position="left"
        type="number"
      ></tlui-lc-axis>

      <tlui-lc-grid-lines
        [color]="chartOptions.view?.isGridColorEnabled ? chartOptions.view.gridColor : 'transparent'"
        axis="x"
      ></tlui-lc-grid-lines>
      <tlui-lc-grid-lines
        [color]="chartOptions.view?.isGridColorEnabled ? chartOptions.view.gridColor : 'transparent'"
        axis="y"
      ></tlui-lc-grid-lines>

      <ng-container *ngFor="let data of chartOptions.data">
        <ng-container *ngIf="data.type === typeOptions.Line && !!data.chartData?.length">
          <tlui-lc-data
            [caption]="data.name"
            [data]="data.chartData"
            [interpolateEnable]="true"
            [lineColor]="data?.color"
            [lineDynamics]="data.interpolation"
            [lineType]="data.type"
            [reRangeThenLegendClick]="chartOptions.view?.reRangeEnable"
            axis="y"
            tluiLCLine
          >
          </tlui-lc-data>
        </ng-container>
        <ng-container *ngIf="data.type === typeOptions.Area && !!data.chartData?.length">
          <tlui-lc-data
            [areaColor]="data?.color"
            [caption]="data.name"
            [data]="data.chartData"
            [lineDynamics]="data.interpolation"
            [lineType]="data.type"
            [reRangeThenLegendClick]="chartOptions.view?.reRangeEnable"
            axis="y"
            lineColor="transparent"
            tluiLCLine
          >
          </tlui-lc-data>
        </ng-container>
        <ng-container *ngIf="data.type === typeOptions.Bar && !!data.chartData?.length">
          <tlui-lc-data
            [barWidthPercent]="80"
            [caption]="data.name"
            [color]="data?.color"
            [data]="data.chartData"
            [isBarBorder]="chartOptions.view?.isBarBorder"
            [reRangeThenLegendClick]="chartOptions.view?.reRangeEnable"
            [showValues]="chartOptions.view?.isShowValue"
            [valuePosition]="chartOptions.view?.valuePosition ?? 'center'"
            axis="y"
            tluiLCBar
          >
          </tlui-lc-data>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="chartOptions?.comboData?.stackBar?.chartDataCommon?.length">
        <tlui-lc-data
          [barWidthPercent]="80"
          [caption]="chartOptions?.comboData?.stackBar.captionCommon"
          [color]="chartOptions?.comboData?.stackBar.paletteCommon"
          [data]="chartOptions?.comboData?.stackBar.chartDataCommon"
          [isBarBorder]="chartOptions.view?.isBarBorder"
          [reRangeThenLegendClick]="chartOptions.view?.reRangeEnable"
          [showNormalizeValue]="chartOptions.view?.showNormalizeValue"
          [showValues]="chartOptions.view?.isShowValue"
          [valuePosition]="chartOptions.view?.valuePosition ?? 'center'"
          axis="y"
          tluiLCStackBar
        >
        </tlui-lc-data>
      </ng-container>

      <ng-container *ngIf="chartOptions?.comboData?.fullStackBar?.chartDataCommon?.length">
        <tlui-lc-data
          [barWidthPercent]="80"
          [caption]="chartOptions?.comboData?.fullStackBar.captionCommon"
          [color]="chartOptions?.comboData?.fullStackBar.paletteCommon"
          [data]="chartOptions?.comboData?.fullStackBar.chartDataCommon"
          [isBarBorder]="chartOptions.view?.isBarBorder"
          [reRangeThenLegendClick]="chartOptions.view?.reRangeEnable ?? true"
          [showNormalizeValue]="chartOptions.view?.showNormalizeValue"
          [showValues]="chartOptions.view?.isShowValue"
          [valuePosition]="chartOptions.view?.valuePosition ?? 'center'"
          axis="y"
          stackType="fullStackBar"
          tluiLCStackBar
        >
        </tlui-lc-data>
      </ng-container>
    </tlui-lc-layer>

    <tlui-LC-smart-scroll
      [data]="!chartOptions?.data?.[0]?.chartData?.length ? mockData : chartOptions.data[0].chartData"
    ></tlui-LC-smart-scroll>
  </tlui-line-chart>
</ng-container>
