::ng-deep {
  .mdc-tooltip__surface {
    max-width: none !important;
  }
}

:host {
  display: flex;
  flex: 1 1;

  ::ng-deep {
    .tlui-btn {
      padding: 0 6px;
    }
  }
}

.container {
  display: flex;
  position: relative;
  flex: 1;

  .toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .player-toolbar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    transition: all 200ms;
    flex: 1;

    .tlui-icon--sm {
      border-radius: 6px;
    }

    .slider {
      position: relative;
      top: -6px;
      width: 100%;
      min-width: 100px;
      max-width: 400px;
    }

    .slider-ticks {
      position: absolute;
      display: flex;
      justify-content: space-between;
      bottom: 0;
      font-size: 10px;
      z-index: -2;

      &_tick {
        top: 8px;
      }

      &_date {
        top: -8px;
      }

      .ticks {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          top: -2px;
          height: 10px;
          width: 0;
          left: 0;
          border-left: 1px solid var(--color-borders-and-icons-icons);
        }
      }
    }

    .form-field {
      height: 100%;
      color: var(--color-text-signatures-and-future);
      cursor: default;
      pointer-events: none;

      ::ng-deep {
        .tlui-form-field {
          height: 100%;
        }
      }

      &_time {
        pointer-events: all;
        cursor: pointer;

        ::ng-deep {
          .tlui-form-field {
            height: 100%;
            width: 70px;
          }
        }
      }
    }

    &_hidden {
      position: absolute;
      transform: translate(0, -50px);
      left: 110px;
      visibility: hidden;
    }
  }

  .button-active {
    background-color: var(--color-logo-light);
  }
}
