<div *transloco="let t; read: 'mnemo.ViewerPlayerComponent'" class="container">
  <div class="toggle" matTooltip="{{ t('playerMode') }}">
    <label for="toggle">{{ t('Off') }}</label>
    <tlui-toggle [formControl]="toggle" id="toggle"></tlui-toggle>
    <label for="toggle">{{ t('On') }}</label>
  </div>

  <div
    [class.player-toolbar_hidden]="(playerModeService.isPlayerMode$ | async) === false"
    [class.tlui-disabled]="isLoading$ | async"
    class="player-toolbar"
  >
    <ng-container>
      <button (click)="onClickButton('reset')" btnStyle="tertiary" matTooltip="{{ t('reset') }}" size="sm" tluiButton>
        <svg-icon class="tlui-icon--sm" src="tluiIconArrowDoubleRotateCycle"></svg-icon>
      </button>
      <button
        (click)="onClickButton('backPeriod')"
        btnStyle="tertiary"
        matTooltip="{{ t('periodBack') }}, {{ t('currentValue') }}
              : {{ playerService.dateObj.periodFrom | date: 'dd.MM.yyyy HH:mm:ss' }}
              - {{ playerService.dateObj.periodTo | date: 'dd.MM.yyyy HH:mm:ss' }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconArrowDoubleLeft"></svg-icon>
      </button>
      <button
        (click)="onClickButton('back')"
        btnStyle="tertiary"
        matTooltip="{{ t('back') }}, {{ t('currentValue') }}
              : {{ playerService.dateObj.periodArr[playerService.dateObj.currentIndex] | date: 'HH:mm:ss' }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconArrowLeftSimple"></svg-icon>
      </button>

      <tlui-slider
        (mouseenter)="sliderMouseEvent(true)"
        (mouseleave)="sliderMouseEvent(false)"
        [formControl]="timelineControl"
        [max]="playerService.dateObj.periodToIndex"
        [min]="playerService.dateObj.periodFromIndex"
        #slider
        class="slider"
      ></tlui-slider>
      <div
        [style.left.px]="sliderRef?.nativeElement.offsetLeft"
        [style.width.px]="sliderRef?.nativeElement.offsetWidth"
        class="slider-ticks slider-ticks_date"
      >
        <span class="labels">{{ playerService.dateObj.timeTicks[0] | date: 'dd.MM.yyyy' }}</span>
        <span class="labels">{{ playerService.dateObj.timeTicks[4] | date: 'dd.MM.yyyy' }}</span>
      </div>
      <div
        [style.left.px]="sliderRef?.nativeElement.offsetLeft"
        [style.width.px]="sliderRef?.nativeElement.offsetWidth"
        class="slider-ticks"
      >
        @for (date of playerService.dateObj.timeTicks; track date) {
          <span class="labels">{{ date | date: 'HH:mm:ss' }}</span>
        }
      </div>
      <div
        [style.left.px]="sliderRef?.nativeElement.offsetLeft"
        [style.width.px]="sliderRef?.nativeElement.offsetWidth"
        class="slider-ticks slider-ticks_tick"
      >
        @for (tick of [0, 0.25, 0.5, 0.75, 1]; track tick) {
          <span class="ticks"></span>
        }
      </div>

      <tlui-form-field
        (click)="setUserDate($event)"
        #scrollContainer
        class="form-field form-field_time"
        matTooltip="{{ t('userDate') }}"
      >
        {{ playerService.dateObj.periodArr[playerService.dateObj.currentIndex] | date: 'HH:mm:ss' }}
      </tlui-form-field>

      <tlui-form-field class="form-field">
        x{{ !!playerService.playerInterval$ ? playerService.playerAcceleration : 0 }}
      </tlui-form-field>

      <button
        (click)="onClickButton('forward')"
        btnStyle="tertiary"
        matTooltip="{{ t('forward') }}, {{ t('currentValue') }}
              : {{ playerService.dateObj.periodArr[playerService.dateObj.currentIndex] | date: 'HH:mm:ss' }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconArrowRightSimple"></svg-icon>
      </button>
      <button
        (click)="onClickButton('forwardPeriod')"
        btnStyle="tertiary"
        matTooltip="{{ t('forwardPeriod') }}, {{ t('currentValue') }}
              : {{ playerService.dateObj.periodFrom | date: 'dd.MM.yyyy HH:mm:ss' }}
              - {{ playerService.dateObj.periodTo | date: 'dd.MM.yyyy HH:mm:ss' }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconArrowDoubleRight"></svg-icon>
      </button>
      <button
        (click)="onClickButton('loop')"
        [class.button-active]="!!playerService.playerIsLoop"
        btnStyle="tertiary"
        matTooltip="{{ playerService.playerIsLoop ? t('loopOn') : t('loopOff') }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconReturnCircle"></svg-icon>
      </button>
      <button
        (click)="onClickButton('startPause')"
        btnStyle="tertiary"
        matTooltip="{{ !!playerService.playerInterval$ ? t('pause') : t('start') }}"
        size="sm"
        tluiButton
      >
        <svg-icon
          [src]="!!playerService.playerInterval$ ? 'tluiIconPause' : 'tluiIconPlay'"
          class="tlui-icon--sm"
        ></svg-icon>
      </button>
      <button
        (click)="onClickButton('acceleration')"
        btnStyle="tertiary"
        matTooltip="{{ t('acceleration') }}, {{ t('currentValue') }}: {{ playerService.playerAcceleration }}"
        size="sm"
        tluiButton
      >
        <svg-icon class="tlui-icon--sm" src="tluiIconPlay"></svg-icon>
        <svg-icon class="tlui-icon--sm" src="tluiIconPlay"></svg-icon>
      </button>
    </ng-container>
  </div>
</div>
