<div [style.background-color]="mnemoToolsService.backgroundColor" class="container">
  <as-split [direction]="'vertical'" [disabled]="viewerService.disableEvents">
    <as-split-area [size]="100 - viewerService.sizeEvents">
      <div #graphContainer class="viewer" id="mx-graph-container">
        <div *ngIf="isLoading$ | async" class="loading-shade">
          <tlui-spinner></tlui-spinner>
        </div>
      </div>
    </as-split-area>
    <as-split-area [maxSize]="50" [minSize]="2" [size]="viewerService.sizeEvents">
      <tl-mnemo-event-legend *ngIf="!viewerService.disableEvents" class="footer"></tl-mnemo-event-legend>
    </as-split-area>
  </as-split>
</div>
