<ng-container *transloco="let t; read: 'mnemo.ActiveShapeTableOptionsComponent'" [formGroup]="optionsForm">
  <tlui-accordion [multiple]="true" class="accordion-container">
    <ng-template [tluiAccordionItemExpanded]="true" [tluiAccordionItem]="t('table')">
      <div class="tab-content" formGroupName="table">
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isFilterEnable" size="md">{{ t('isFilterEnable') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox class="tlui-disabled" formControlName="isPaginatorEnable" size="md">{{
            t('isPaginatorEnable')
          }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isSortEnable" size="md">{{ t('isSortEnable') }}</tlui-checkbox>
        </div>
      </div>
    </ng-template>
    <ng-template [tluiAccordionItemExpanded]="true" [tluiAccordionItem]="t('caption')">
      <div class="tab-content" formGroupName="header">
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isBorderColor" size="md">{{ t('isBorderColor') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isBorderVerticalEnabled" size="md">{{
            t('isBorderVerticalEnabled')
          }}</tlui-checkbox>
          <tlui-slider
            [disabled]="!optionsForm.controls.header?.controls?.isBorderVerticalEnabled?.value"
            [inputs]="true"
            [labels]="true"
            [max]="20"
            [min]="0"
            [step]="1"
            formControlName="borderVerticalWidth"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isBorderHorizontalEnabled" size="md">{{
            t('isBorderHorizontalEnabled')
          }}</tlui-checkbox>
          <tlui-slider
            [disabled]="!optionsForm.controls.header?.controls?.isBorderHorizontalEnabled?.value"
            [inputs]="true"
            [labels]="true"
            [max]="20"
            [min]="0"
            [step]="1"
            formControlName="borderHorizontalWidth"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('fontSize') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="24"
            [min]="2"
            [step]="1"
            formControlName="fontSize"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('fontWeight') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="1000"
            [min]="100"
            [step]="100"
            formControlName="fontWeight"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('paddingVertical') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="60"
            [min]="0"
            [step]="2"
            formControlName="paddingVertical"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('paddingHorizontal') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="60"
            [min]="0"
            [step]="2"
            formControlName="paddingHorizontal"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <div>{{ t('textAlign') }}</div>
          <tlui-form-field>
            <select formControlName="textAlign" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['start', 'center', 'end']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template [tluiAccordionItemExpanded]="true" [tluiAccordionItem]="t('body')">
      <div class="tab-content" formGroupName="body">
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isColorRow" size="md">{{ t('isColorRow') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isBorderColor" size="md">{{ t('isBorderColor') }}</tlui-checkbox>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isBorderVerticalEnabled" size="md">{{
            t('isBorderVerticalEnabled')
          }}</tlui-checkbox>
          <tlui-slider
            [disabled]="!optionsForm.controls.body?.controls?.isBorderVerticalEnabled?.value"
            [inputs]="true"
            [labels]="true"
            [max]="20"
            [min]="0"
            [step]="1"
            formControlName="borderVerticalWidth"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <tlui-checkbox formControlName="isBorderHorizontalEnabled" size="md">{{
            t('isBorderHorizontalEnabled')
          }}</tlui-checkbox>
          <tlui-slider
            [disabled]="!optionsForm.controls.body?.controls?.isBorderHorizontalEnabled?.value"
            [inputs]="true"
            [labels]="true"
            [max]="20"
            [min]="0"
            [step]="1"
            formControlName="borderHorizontalWidth"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('fontSize') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="24"
            [min]="2"
            [step]="1"
            formControlName="fontSize"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('fontWeight') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="1000"
            [min]="100"
            [step]="100"
            formControlName="fontWeight"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('paddingVertical') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="60"
            [min]="0"
            [step]="2"
            formControlName="paddingVertical"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <label>{{ t('paddingHorizontal') }}</label>
          <tlui-slider
            [inputs]="true"
            [labels]="true"
            [max]="60"
            [min]="0"
            [step]="2"
            formControlName="paddingHorizontal"
          ></tlui-slider>
        </div>
        <div class="tab-content__item">
          <div>{{ t('textAlign') }}</div>
          <tlui-form-field>
            <select formControlName="textAlign" size="sm" tluiInput>
              <ng-container *ngFor="let option of ['start', 'center', 'end']">
                <option [value]="option">{{ t(option) }}</option>
              </ng-container>
            </select>
          </tlui-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template [tluiAccordionItemExpanded]="false" [tluiAccordionItem]="t('captions')">
      <div class="tab-content" formGroupName="keyName">
        <div class="tab-content__item">
          <div>name</div>
          <tlui-form-field class="color-select">
            <input formControlName="name" size="sm" tluiInput />
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>id</div>
          <tlui-form-field class="color-select">
            <input formControlName="id" size="sm" tluiInput />
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>sourceType</div>
          <tlui-form-field class="color-select">
            <input formControlName="sourceType" size="sm" tluiInput />
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>value</div>
          <tlui-form-field class="color-select">
            <input formControlName="value" size="sm" tluiInput />
          </tlui-form-field>
        </div>
        <div class="tab-content__item">
          <div>time</div>
          <tlui-form-field class="color-select">
            <input formControlName="time" size="sm" tluiInput />
          </tlui-form-field>
        </div>
      </div>

      @if (customKeys?.length) {
        <div class="tab-content" formGroupName="keyNameCustom">
          @for (key of customKeys; track key) {
            <div class="tab-content__item">
              <div>{{ key }}</div>
              <div>{{ optionsForm.controls?.keyNameCustom?.[key] }}</div>
              <tlui-form-field class="color-select">
                <input [formControl]="optionsForm.controls?.keyNameCustom?.controls?.[key]" size="sm" tluiInput />
              </tlui-form-field>
            </div>
          }
        </div>
      }

      <div class="tab-content">
        @if (isAddMode) {
          <div class="tab-content__item">
            <tlui-form-field class="color-select">
              <input formControlName="keyForm" size="sm" tluiInput />
            </tlui-form-field>
            <tlui-form-field class="color-select">
              <input formControlName="nameForm" size="sm" tluiInput />
            </tlui-form-field>
          </div>
        }

        <div (click)="addDataSource()" class="tab-content__item add-plus">
          <span>{{ isAddMode ? t('saveCaption') : t('addCaption') }}</span>
          <svg-icon class="icon" src="tluiIconPlusAddCircle"></svg-icon>
        </div>
      </div>
    </ng-template>
  </tlui-accordion>
</ng-container>
