<div *transloco="let t; read: 'mnemo.ChartSettingComponent'" [formGroup]="formGroup" class="tab-container">
  <input (change)="onFileChange($event)" [multiple]="false" #fileInput class="file-input" required type="file" />
  <div class="tab-container__buttons">
    <button (click)="refresh()" [btnStyle]="'tertiary'" class="refresh-button" tluiButton>
      {{ 'mnemo.shared.reset' | transloco }}
    </button>
    <button (click)="downloadStyle()" [btnStyle]="'tertiary'" class="refresh-button" tluiButton>
      {{ 'mnemo.shared.save' | transloco }}
    </button>
    <button (click)="fileInput.click()" [btnStyle]="'tertiary'" class="refresh-button" tluiButton>
      {{ 'mnemo.shared.open' | transloco }}
    </button>
  </div>
  <div class="tab-container__buttons">
    <tlui-checkbox formControlName="requestControl">{{ t('customRequest') }}</tlui-checkbox>
  </div>
  <tl-mnemo-request-setting-form
    [class.tlui-disabled]="!requestControl?.value"
    [formGroupName]="'requestForm'"
    [isExpanded]="requestControl?.value"
  ></tl-mnemo-request-setting-form>
  <tl-mnemo-view-setting-form
    [formGroupName]="'viewForm'"
    [isExpanded]="false"
    [isShowAutoZoom]="true"
    [isShowExponent]="false"
    [isShowMaxSelectedTrend]="true"
  ></tl-mnemo-view-setting-form>
  <tl-mnemo-chart-setting-form [formGroupName]="'optionsForm'"></tl-mnemo-chart-setting-form>
</div>
