:host ::ng-deep {
  .tlui-btn {
    padding: 0 6px;
  }
}

.viewer-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.vert {
  flex-direction: column;
}

.hor {
  flex-direction: row;
}

.tlui-icon--sm {
  border-radius: 6px;
}
